[2021-02-10 21:19] tonyreina opened #13 "Redesigning Task Runner"
- [ ] Not require explicitly setting TensorKeys to track.
- [ ] PyTorch/TensorFlow code can be imported directly into fx.
Define easy to use python API:
     - [x]	Model Provider
     - [x]	Task registering
     - [ ]	Data repository adapter
- [x]	Implement example new task runner in Jupyter notebook
- [x] Build compatibility with new Data Loader interface
Framework adapters for all currently supp

[2021-02-10 21:21] tonyreina opened #14 "Model DB"
As a user I would like to keep track of my Federated Learning experiments and plot statistics of the model performance.
One implementation may be using a Model Database, such as ModelDB  https://github.com/VertaAI/modeldb
This could simply plugin to our current code via the Python API. There are some nice features such as model and data versioning (Git-like) and dashboards.

[2021-02-11 02:18] alexkarargyris opened #16 "openfl package not found"
**Describe the bug**
Following the OpenFL documentation instructions [here](https://openfl.readthedocs.io/en/latest/install.initial.html#initial-steps) but I get the following error when running `pip install openfl`:

`
ERROR: Could not find a version that satisfies the requirement openfl
`
`
ERROR: No matching distribution found for openfl
`

-OS: MacOS Big Sur

[2021-02-11 07:22] alexey-gruzdev commented on #16
@alexkarargyris thanks for pointing this out. Right now we didn't publish PyPI wheels (this activity is in progress), so you need to install OpenFL from source:
[code]

[2021-02-11 14:19] #16 closed

[2021-02-11 18:39] campos537 opened #17 "Suggestion: Implement ARFL(Auto-weighted Robust Federated Learning)"
Hey guys,
i really liked the OpenFL and after some readings found that would be quite interesting to have the ARFL as a choose option to substitute FedAvg since it should increase the accuracy a lot in real world scenarios where the data from each client isn't trust able.

article: https://arxiv.org/pdf/2101.05880.pdf

[2021-02-11 21:18] alexey-gruzdev commented on #17
Hi @campos537! Thanks for your interest and paper suggestion. We'll take a look on that, but remember - external contributions by submitting PRs are highly welcomed! ;)

[2021-02-15 04:11] tonyreina commented on #17
https://github.com/intel/openfl/projects/3

As Alexey said, we're hoping to include more aggregation algorithms soon. We'd love any PR's you'd be interested in creatin.

[2021-02-15 11:01] campos537 commented on #17
Hey guys! Thanks for the answer, i would love to contribute with that feature for the project but i'm not sure if i will be able to do it in terms of time :cry: . But i will try to understand and see where i can contribute!

[2021-03-05 17:29] itrushkin opened #27 "Same validation metric values across collaborators in Jupyter notebooks"
**Describe the bug**
When launching the federated training in Jupyter notebooks of `openfl-tutorials` folder, I noticed that different collaborators achieve the same validation metric values. That could be possible if collaborators had the same data, but the data is randomly split. Looks like there is an issue of defining the Data Loader for each collaborator.

**To Reproduce**
Steps to reproduce

[2021-03-11 08:24] alexey-gruzdev opened #29 "Docs bad rendering: syntax error in graph"
**Describe the bug**
On the _Configuring the Federation_ [page](https://openfl.readthedocs.io/en/latest/running_the_federation.certificates.html)  there is a "Syntax error in graph mermaid version 8.9.1" error

**Screenshots**:

![image](https://user-images.githubusercontent.com/77294631/110757303-47509e80-825c-11eb-9266-6c978b314d43.png)

[2021-03-12 13:40] itrushkin commented on #27
Parallel collaborator execution implies an absence of protobuf classes instances in parallelized code because fork processes cannot pickle such objects. Output:
[code]
@aleksandr-mokrov suggested that we will operate with pure Python entities (dictionaries) instead of protobuf-created ones. I am reworking client-server interaction to use `google.protobuf.json_format.MessageToDict` protobuf entitie

[2021-03-17 20:26] #29 closed

[2021-03-18 07:28] alexey-gruzdev opened #37 "Parallel execution for Python API"
Python native API currently executes collaborators in a sequential way, however it could be done parallel, since their execution is independent.
[code]

[2021-03-18 08:27] itrushkin commented on #37
Protobuf objects can't be pickled into subprocesses so that PR also includes conversion to Python dictionaries in client-server interaction.

[2021-03-18 14:43] #27 closed

[2021-03-18 17:45] alexey-gruzdev opened #38 "Scalable PKIs"
In avoid manual copying for current PKIs/certificate exchange between Aggregator & Collaborators we need an automatic system for that.

[2021-03-24 14:42] alexey-gruzdev opened #40 "Simple aggregation schemes on aggregator: geometric mean + median"
It would be great to have not only **_Avg_** operator for tensor aggregation, but also few other simple operations like **_Geometric Mean_**, **_Median_**, etc.

[2021-03-24 15:20] msheller commented on #40
@alexey-gruzdev, we do have some of this in place: I believe we interpret one of the flplan args as the aggregation function. If the name doesn't match our pre-defined strings, we assume it is a numpy function and invoke it.

I'd like the end-result to be the same as others: you can declare arbitrary python classes in the flplan that provide the functionality, along with init kwargs, the function

[2021-03-24 16:37] alexey-gruzdev commented on #40
@msheller that's great, if we have it in place - could you provide a simple example for the reference?

Ideally, for better extendibility it would be great to have a python function to be passed to Python API entities & being used by OpenFL further.

[code]

Maybe I am wrong, however from Python user's perspective - is it a right place to define such kind of functionalities in FLPlan (.yaml)?

[2021-03-24 22:48] psfoley commented on #40
@alexey-gruzdev This is a feature I added a few months ago. A limited set of custom aggregation types are supported at the task level. They can be called in the following way:

[code]

and you can call it through the current Python API like this:

[code]

These aggregation types are currently limited to simple numpy functions (see [here](https://github.com/intel/openfl/blob/develop/openfl/database

[2021-03-25 21:46] psfoley opened #41 "Update gRPC for Tensorflow 2.4 compatibility"
gRPC is currently pinned to version 1.30. Tensorflow 2.4+ requires a later version. The gRPC version was originally pinned because of sporadic network issues, but this is likely fixed with change to short lived gRPC client connection.

[2021-03-26 19:59] sarthakpati opened #44 "sdist distribution of openfl"
**Is your feature request related to a problem? Please describe.**
Currently, the packaging is on wheel only, which is fine for pip but can introduce some issues when we run into mis-matched dependency versions when packaging openfl with other packages.

**Describe the solution you'd like**
Adding an `sdist` in addition to the wheel would make things much easier.

**Describe alternatives you've co

[2021-03-26 20:27] sarthakpati opened #46 "Conda recipe"
**Is your feature request related to a problem? Please describe.**
Currently, OpenFL only has the option to be installed through pip, which prevents it to be added to packages that require C/C++ libraries.

**Describe the solution you'd like**
A conda recipe would be very useful to mitigate this, which I am happy to work on. 😄

**Describe alternatives you've considered**
N.A.

**Additional context

[2021-03-26 21:05] tonyreina commented on #44
@sarthakpati Thanks. We're actually working on the conda package. It's just got to go through the right approvals, but it is coming.

[2021-03-26 21:05] #44 closed

[2021-03-27 03:44] sarthakpati commented on #44
Oh cool, thanks!

[2021-03-28 11:49] doflink opened #47 "[Keras_MNIST_Tutorial]: ValueError: Aggregator does not have an aggregated tensor for TensorKey"
Hi all, I build the openfl docker image (with current master), and I'm trying Keras Mnist tutorial with a docker container. However, currently, I get the following error:
[code]
**Working environment in docker container**
- Python 3.8.0
- intel-tensorflow 2.3.0

**To Reproduce**
- clone the openfl repos, and build image: ./scripts/build_base_docker_image.sh
- Run docker: _docker run -p 8888  -it -

[2021-03-28 21:41] psfoley commented on #47
Thanks a lot for the detailed bug report, @doflink!

We became aware of this issue in the develop branch late last week. @itrushkin is currently working on a [fix](https://github.com/intel/openfl/pull/43), and I expect that it will be merged to the develop branch soon. For now I would recommend reverting to the latest tagged version of OpenFL ([v1.0.1](https://github.com/intel/openfl/releases/tag/

[2021-03-29 11:34] alexey-gruzdev commented on #47
@doflink @psfoley @itrushkin  I've merged the fix into develop, so now it should work.

@doflink could you, please, double-check with latest develop and let us know if you have unexpected behavior.

[2021-03-29 13:02] doflink commented on #47
Hi @alexey-gruzdev, it works now, thanks! It seems you also fixed the download mnist dataset issue, _import mnist_ will download from *http://yann.lecun.com/exdb/mnist/* which raise error _Service Unavailable_ , import mnist from _tensorflow.keras.datasetst_ is much more stable. Thank you!

[2021-03-29 13:17] #47 closed

[2021-03-30 20:37] tonyreina commented on #37
We should have a way to enable/disable this because if you are just working on a simulated federation for a single node, then you might exhaust resources by having many collaborators running concurrently on that node. I think that was the original use case for this. However, I agree it's good to have the parallel execution for most cases.

[2021-04-08 09:38] dkurt commented on #46
Hi! In my experience, Conda config based project can install pip packages as well:
[code]

[2021-04-08 14:35] sarthakpati commented on #46
True, but it makes it much easier when the packaging is sdist-based, rather than wheels.

[2021-04-14 05:00] a3213105 opened #56 "do we have roadmap to support Intel SGX？"

[2021-04-14 11:36] tonyreina commented on #56
We do. We've been working with partners on this (https://player.vimeo.com/video/485722936#t=33m07s) and will report more in the second half.

[2021-04-14 11:36] #56 closed

[2021-04-26 09:11] saransh09 opened #59 "Minor bug in the code for torch_unet_kvasir, which leads to run-time error due to CUDA, if running on CPU mode."
In the openfl/openfl-workspace/torch_unet_kvasir/code/fed_unet_runner.py
Line23 : It should be
`def __init__(self, device='cpu', **kwargs):`
Instead of
`def __init__(self, device='cuda', **kwargs):`

This seems to be a typo, as in the description it is written that the default device is set to be 'cpu'.

Without this change, one would encounter a run-time error due to CUDA not found.

[2021-04-26 10:13] alexey-gruzdev commented on #59
@saransh09 thanks for bringing this up! Fixed in https://github.com/intel/openfl/commit/65728d8b09ea45092cef91f11127021288b5ae20 .

[2021-04-26 10:13] #59 closed

[2021-04-29 21:23] msheller opened #64 "Setup of 'fx' failed on conda 4.6.11, worked on 4.10.1"
**Describe the bug**
When following the setup instructions using conda 4.6, the resulting conda environment failed to install openfl in the environment. While not an openfl bug, we may want to determine how to make these instructions work on older conda versions.
NOTE: I am using the 'develop' branch.

**To Reproduce**
Steps to reproduce the behavior:
1. Install conda 4.6.11 on Ubuntu 18.04
2. Fol

[2021-04-29 21:25] msheller opened #65 "(Develop branch) pillow not installed in pytorch MNIST tutorial notebook"
**Describe the bug**
After a clean install of openfl (develop branch) in a new conda environment, when running the pytorch MNIST tutorial, cell 2 fails due to "PIL" not found. Fixed by installing 'pillow' in the conda env.

[2021-04-29 21:38] tonyreina commented on #64
just to confirm. Did you specify `pip` and `python` when you created the conda environment?

`conda create -n env_name pip python=3.6`

[2021-04-30 09:36] alexey-gruzdev commented on #65
@msheller thanks for the input on that!
I believe it is related to installation of openfl into conda environment and then installing libraries from notebook in the same env.

In the notebook we have:
[code]
An the output if you run it with virtual environment:

[code]

So `pillow` is installed as a dependency for `torchvision`. Does described bug mean that installation of `torchvision` in conda di

[2021-04-30 14:56] tonyreina opened #66 "Add FedCurv Algorithm"
https://arxiv.org/pdf/1910.07796.pdf

We'd like to support FedCurv for robust aggregation.

[2021-05-03 12:54] #13 closed

[2021-05-04 00:04] msheller opened #68 "Dead code in run_experiment (native.py)?"
**Describe the bug**
The "model_states" dictionary in the run_experiment function appears to be unused. Perhaps a hold-over from graph sharing?

I am able to comment out all lines involving "model_states" without any impact to the experiment that I can find.

[2021-05-04 07:23] alexey-gruzdev commented on #68
/cc @psfoley

[2021-05-04 10:34] saransh09 commented on #59
@alexey-gruzdev can you please make this fix in the main branch as well?
I have to prepare for a demo, and when I fresh pip install the library, this problem persists. I guess pip pulls the code from main branch, if I am not wrong.

[2021-05-04 10:49] alexey-gruzdev commented on #59
@saransh09 we are preparing new release package and as a part of this activity we will merge develop in master and fix also will be available through pip. Stay tuned, we should have it pretty soon.

[2021-05-04 16:26] maradionov opened #69 "Misprint, list out of range"
https://github.com/intel/openfl/blob/704dfd5b958fadf6aafd073c882beec5875b7006/openfl/interface/collaborator.py#L358
Take 0 index of empty list. I think it should be   `updated_crts` or `previous_crts` instead of `cert_difference`

[2021-05-06 09:48] rstoki opened #70 "Docker image - enhance description on hub.docker.com"
**Is your feature request related to a problem? Please describe.**
Currently, there is an ambiguity of image name "openfl" in the Docker Hub, since there is product called "Open Flash Library".
The "docker pull openfl" (as stated in the documentation) will point to the `openfl/openfl`, which is the other product:
[https://hub.docker.com/r/openfl/openfl](https://hub.docker.com/r/openfl/openfl)

Fin

[2021-05-06 09:50] rstoki opened #71 "Docker image - Manifest not found"
**Describe the bug**
Trying to install docker image gives the following error:
`$ sudo docker pull intel/openfl`
`Using default tag: latest`
`Error response from daemon: manifest for intel/openfl:latest not found: manifest unknown: manifest unknown`

**To Reproduce**
1. have a "clean" linux machine with docker installed
2. `sudo docker pull intel/openfl`
3. See error

**Expected behavior**
The int

[2021-05-07 15:29] rstoki opened #72 "Setting-up the federation -- fx plan init -- does not work"
**Describe the bug**
I am trying to setup a federation based on the '' following the documentation [written here](https://openfl.readthedocs.io/en/latest/running_the_federation.baremetal.html#on-the-aggregator)

The problem is, that the command `fx plan initialize` (as mentioned in the point 7) fails due to the checks for non-existing data folders. In default setup, it looks for path  (which seems

[2021-05-07 15:31] rstoki opened #73 "FX command - make it more independent"
**Is your feature request related to a problem? Please describe.**
During the initialization of the federation (federated environment), the `fx` command is very useful. However, it performs some "additional tasks", that are typically not required (or, in the future may be problematic), and need to be 'rolled-back' manually.

A list of non-necessary actions:
1) Do **not call** `pip install -r requi

[2021-05-11 14:38] alexey-gruzdev opened #75 "FX autocomplete feature"
It would be great to have `fx` + `TAB` combination (like standard Linux autocomplete) feature for current CLI.

[2021-05-13 15:13] #40 closed

[2021-05-14 09:12] alexey-gruzdev commented on #72
@rstoki thanks for pointing this out! So it looks like in your case, you don't have a BRATS dataset, and that's why `fx plan init` fails. BRATS dataset could not be downloaded automatically by our scripts (as it done for other samples), because of legal issues since you need to register to obtain it. @itrushkin added special note in `tf_2dunet` example, in order to have more meaningful output.

[2021-05-14 10:46] rstoki commented on #72
Hello @alexey-gruzdev,
thank you for your reply, but I am afraid, that the proposed solution **do not fully cover** the problem.
The fact is that I have BraTS dataset downloaded (2018, 2019 and 2020). And also, I have copied data folders in a proper place (in my opinion).

The problems are:
1. the default data paths in data.yaml (as is in the template) points to `/raid/datasets/BraTS17/by_institut

[2021-05-14 11:13] alexey-gruzdev commented on #70
@rstoki This DockerHub image corresponds to different repository which is not connected to OpenFL (however it has the same naming). Currently, we are in the process of publishing our Docker image on the DockerHub. So, I will update this issue once it will be done.

[2021-05-14 15:48] rstoki commented on #70
The image `intel/openfl` does not correspond to this OpenFL repository?

[2021-05-17 07:38] alexey-gruzdev commented on #70
@rstoki I mean `openfl/openfl` image not corresponds to this OpenFL repo.

[2021-05-19 05:33] siddhartha18101 opened #83 "Slack Invite"
Hello!

I hope whoever reading it is safe and doing great. It seems like people outside intel are unable to join the slack, can anyone give invite for people outside slack

[2021-05-19 06:58] alexey-gruzdev commented on #83
@siddhartha18101 Hi! Thanks for the interest. Could you try to use this link - https://join.slack.com/t/openfl/shared_invite/zt-ovzbohvn-T5fApk05~YS_iZhjJ5yaTw for accessing? It should work. If not, could you attach a screenshot, what you are seeing when trying to join the slack.

[2021-05-19 08:56] chanfm81 opened #84 "Error in following the "Configuring the Federation" tutorial"
Hi,

I am trying out "fx collaborator generate-cert-request -n COL.LABEL" from https://openfl.readthedocs.io/en/latest/running_the_federation.certificates.html and I got the below error:

![image](https://user-images.githubusercontent.com/28550728/118785037-0c559180-b8c3-11eb-8681-52592aeaa24b.png)

I am using the "keras_cnn_mnist" template.

How do I resolve the issue?

Thanks.

[2021-05-19 10:02] alexey-gruzdev commented on #84
@chanfm81 are you running this from workspace folder? Maybe you miss `cd my_federation` command?

[2021-05-19 11:07] siddhartha18101 commented on #83
Thanks for the Response. The link is working

[2021-05-19 11:13] siddhartha18101 commented on #17
Is the issue still open? Can I work on it?

[2021-05-19 11:36] alexey-gruzdev commented on #17
@siddhartha18101 this is open! Of course, we would be glad to take PR for that.

[2021-05-19 11:36] #83 closed

[2021-05-20 08:34] chanfm81 commented on #84
Thanks. The error is gone after executing the command in the "my_federation" folder.

However when I issue the last command for collaborator to connect to the aggregator (fx collaborator start -n one), I got the below log:
![image](https://user-images.githubusercontent.com/28550728/118945826-679d8780-b988-11eb-9ad6-6b2c045d16e6.png)

The aggregator has the below log:
![image](https://user-images.g

[2021-05-20 11:37] karol-brejna-i opened #86 "Add `port` option for fx tutorial start"
**Is your feature request related to a problem? Please describe.**
This is more like an enhancement. Some environments don't allow you to use specific ports (for example 8888 which seems to be the default port used by Jupiter included in fx). It would be good to allow the users to specify the port they want.

**Describe the solution you'd like**
It would be good to allow the users to specify the p

[2021-05-21 06:48] alexey-gruzdev commented on #84
@chanfm81 could you check please if you have any other `fx` processes running in the background? And re-test with a clean env installation? Sometimes it could happen if you have more than one aggregator running on the same machine.

[2021-05-21 07:26] chanfm81 commented on #84
Hi,

Thanks for the reply.
I have tested on Ubuntu 18.04 and it works.
However when I test on Arch Linux, it is not working.

In both experiments which I have done, there is only 1 fx process running which I have verified by command "sudo lsof -i -P -n | grep LISTEN". The env is a fresh installation.

I am not sure if it is related to OS, hosts file, some ipv6 thing or others.

[2021-05-21 07:29] alexey-gruzdev commented on #84
@chanfm81 okay, thanks for clarification. I don't know why we have problems on Arch Linux, maybe additional investigation is needed. However, since currently we officially support only Ubuntu's I believe we could close this.

[2021-05-21 07:31] #84 closed

[2021-05-21 08:12] #86 closed, assigned to nobody

[2021-05-24 01:30] chanfm81 opened #90 "Regarding aggregation in openfl"
Hi,

If we want to use privacy preserving technologies such as differential privacy in securing aggregation in openfl, are there any tutorials or class interfaces which we can override to include the added security?

Are there any tutorials or class interfaces in openfl in which custom aggregation algorithms can be included other than federated averaging? Edit: I just realize there is new document

[2021-05-24 08:17] alexey-gruzdev commented on #90
@chanfm81 hi! Thanks for your interest in OpenFL.
Regarding first question - currently, there is no interface for differential privacy, DP features are in plans. If you can come up with a proposal how to integrate it to OpenFL - it would be great initial point to kick off DP discussion.

Regarding second point - you are absolutely right - you can check out the example [here](https://github.com/int

[2021-05-25 18:06] mansishr commented on #41
Tested and updated grpc to version 1.34.0 and tensorflow to 2.5.0.

[2021-05-27 08:53] #41 closed

[2021-05-27 09:42] alexey-gruzdev commented on #90
@chanfm81 since I believe the question is answered I would close the issue.

[2021-05-27 09:42] #90 closed, assigned to nobody

[2021-05-29 08:55] suleimank commented on #72
Having the exact same problem. Can someone please update, what is the 'right' structure to place the BraTS data?

[2021-05-29 08:58] dskhanirfan commented on #72
Hi I also have the same error in plan/data.yaml  FileNotFoundError: [Errno 2] No such file or directory: "'/raid/datasets/BraTS17/by_institution_NIfTY/1'", I changed the path but it does not work, Please Elaborate the CORRECT Directory structure and data folder paths

[2021-05-30 09:13] dskhanirfan opened #96 "[tf_2dunet] fx plan initialize command is killed without any error"
Hi I am following tf_2dunet on https://openfl.readthedocs.io/en/latest/running_the_federation.baremetal.html#creating-workspaces , However, fx plan initialize command is killed without any error. I have downloaded Brats data and added the data path in data.yaml file

[2021-06-01 14:26] saransh09 opened #97 "Connection issue between collaborator and aggregator"
In some machines, when I run a federation (even if it both the collaborators and the aggregator are on the same machine) they fail to establish a connection.
I have started facing this problem specifically in the interactive API, I have been unsuccessful in running a federation as collaborator is unable to connect to the port where aggregator has started the gRPC server.

Reproducing the error:
I

[2021-06-02 09:54] itrushkin commented on #72
@rstoki @suleimank @dskhanirfan Thank you for being interested in our project! Please see the instructions on how to run BraTS training in #99. You still have to apply changes from the PR to your local code for training to work. I have tested it locally with BraTS19. Feel free to report issues if you still have any.

[2021-06-02 09:57] itrushkin commented on #72
![](https://user-images.githubusercontent.com/32607323/118259388-5f89a780-b4b1-11eb-9edb-709df2f7340f.png)
In this case, collaborator `data_path`s must be `.../federation-0.1/data/client-XX`.

[2021-06-02 12:26] alexey-gruzdev commented on #96
@dskhanirfan could we have more information about this issue? This is not typical behavior. Also we have upcoming fix related to [tf_2dunet] - Could you please reproduce this issue with [this PR](https://github.com/intel/openfl/pull/99)?

[2021-06-02 15:10] alexey-gruzdev commented on #97
@saransh09 could you please send us a log which you see when failing happens?

[2021-06-02 17:57] psfoley commented on #71
Thank you @rstoki for submitting this issue! The `intel/openfl` docker image should be posted to DockerHub within the next week or two. As a temporary workaround, you can build the image yourself by cloning the repo and running `./scripts/build_base_docker_image.sh` from the base directory.

[2021-06-03 17:53] YasirArfat32 opened #102 "DefaultCPUAllocator: can't allocate memory: you tried to allocate 451477504 bytes."
**Describe the bug**
The collaborator gives the following error `EXCEPTION : [enforce fail at CPUAllocator.cpp:65] . DefaultCPUAllocator: can't allocate memory: you tried to allocate 451477504 bytes. Error code 12 (Cannot allocate memory)` while running the '[New Interactive Python API (experimental) notebook](https://github.com/intel/openfl/blob/develop/openfl-tutorials/interactive_api_tutorials_

[2021-06-04 02:25] mansishr commented on #64
With conda 4.6.11 on Ubuntu 18.04, after creating the the conda environment (conda create -n env_name pip python=3.6) and installing a few dependent packages, 'fx' got setup successfully. Recommended to still upgrade to latest conda version.

[2021-06-04 07:03] #64 closed

[2021-06-04 14:47] #75 closed

[2021-06-04 20:46] mansishr commented on #97
@saransh09 could you try checking if the no_proxy settings are correct? I faced a similar issue which got resolved with export no_proxy=localhost on the terminal where you are running the collaborators.

[2021-06-07 08:06] igor-davidyuk commented on #102
Hello, @YasirArfat32!
Thank you for reporting the problem.
Have you tried to reproduce this issue on another machine? I am asking because I have never faced such a problem.

[2021-06-13 02:10] ghost opened #106 "For 3D Image data"
Hi there,

I am trying to process some 3D medical images (some .nii.gz files) with openFL but I am having some trouble doing so. My data loader is as follows: ([data loader from 3D_unet model](https://github.com/IntelAI/unet/blob/master/3D/dataloader.py))

    def get_dataset(self):

        self.num_train = int(self.numFiles * self.train_test_split)
        numValTest = self.numFiles - self.num_t

[2021-06-13 17:18] ghost opened #107 "File not found issue when doing fx plan initialize"
Hi there,

I was trying to do `fx plan initialize ` but encountered some error message with the data loader as follows:

[code]

Nevertheless, we also tried with files and directories that are valid and must exist there such as '/home/', but the error massage is still there, saying `No such file or directory: "'/home/'"`

[2021-06-14 00:26] tonyreina commented on #106
Yes. You should be able to take the TensorFlowDataLoader class and re-define the *get_train_loader* and *get_valid_loader* classes.

https://github.com/intel/openfl/blob/6191a61ada83e08b9a5503c64e39ebc22ecbb7ff/openfl/federated/data/loader_tf.py#L44

It'd be something like this (note: I haven't verified this code works):

from openfl.federated import TensorFlowDataLoader
from .brats_utils import l

[2021-06-14 06:34] saransh09 commented on #97
Hi Alexey and Mansi,
I tried to debug this issue with Igor. We tried everything from 'localhost', None, also tried to provide with the FQDN of the collaborator node in the field.

[2021-06-14 14:21] ghost commented on #106
Thank you very much for your reply!

[2021-06-14 22:48] mansishr commented on #97
Hi Saransh,

Is the aggregator still running on IPv6? If so, I disabled IPv6 on my machine (sudo sysctl -w net.ipv6.conf.all.disable_ipv6=1)

[2021-06-16 07:12] saransh09 commented on #97
Last time we checked that was the case.
I am running it on IMU lab machines, and I don't have sudo rights to do this. However, I will try to discuss this.
Is this the only workaround available right now?

[2021-06-16 07:54] #65 closed

[2021-06-16 08:42] itrushkin commented on #107
@xjustintongx Thank you for your interest in the project!
Do you have BraTS17 dataset locally? This is the only workspace template that requires users to obtain the data because of legal constraints.
If you do have it:
1) Try removing quotes from your path inside YAML, perhaps it'll help. E. g.: `/home/user/BraTS17` instead of `'/home/user/BraTS17'`
2) Try following steps in #99.

[2021-06-17 16:50] #106 closed, assigned to nobody

[2021-06-22 07:27] alexey-gruzdev commented on #97
The problem resolved with:
[code]

[2021-06-22 07:27] #97 closed, assigned to psfoley

[2021-07-07 10:10] mimmose opened #118 "Client training performance of a container always better than others"
I'm a student and trying to understand this FL framework. I've started with notebook tutorials, like the one called "_new_python_api_Tensorflow_MNIST.ipynb_".  I've run the scenario with 2 collaborators, each one in a respective container. I noticed that a collaborator always (more than 10 run) has better accuracy metrics better than another one even if:
- the collaborators both have the same perf

[2021-07-07 14:02] alexey-gruzdev commented on #118
@mimmose Hi! Thanks for the interest in OpenFL!:)
Generally speaking, it's a strange behavior and by design it should not be working like you are describing.

Let me clarify each of the points:
* >  the collaborators both have the same performance (ram, cpus, etc);

This should not affect accuracy, it should affect training time on each respective collaborator

* > there is a shuffle of mnist data

[2021-07-08 16:00] mimmose commented on #118
@alexey-gruzdev thanks for your answer. I've tried to change the shuffle function adding the code as in figure (between the "added" label). I figured out it was more a problem in the shuffle method. I don't know why.

![canc](https://user-images.githubusercontent.com/50296295/124954310-3b13fc80-e016-11eb-88c2-2f2af7d11377.png)

[2021-07-08 16:00] #118 closed, assigned to nobody

[2021-07-08 17:24] alexey-gruzdev commented on #118
@mimmose okay, sounds like it resolved. I'm happy that you figure out this.

[2021-07-08 17:42] alexey-gruzdev commented on #102
@YasirArfat32 any update on this subj? Have you tried to reproduce the same behavior on another machine?

[2021-07-08 17:47] alexey-gruzdev opened #120 "Long-living entities: Director/Envoy"
**Long-Living entities**

The idea behind introducing Long-Living entities is that we would explicitly separate stages of setting up a _Federation_ (which is a set of connected nodes) and running the experiment. This allows users to set up a _Federation_ once, with PKI exchange and setting up a correct network settings and then within a one _Federation_ run multiple experiments.

To accomplish thi

[2021-07-09 14:54] maradionov commented on #38
We decide to use 3dparty utility - [step-ca](https://github.com/smallstep/certificates) and [client](https://github.com/smallstep/cli) for it. This utilities are written on **Go** language, so we download binaries from github repoes while deployment. Step-ca allows you to make the process of exchanging certificates semi-automatic, using token, the node can receive a certificate from the CA server

[2021-07-12 12:35] alexey-gruzdev commented on #102
@YasirArfat32 I would close this issue, so if you still face this behavior and can reproduce it with develop branch & other machine, let us know!:)

[2021-07-12 12:35] #102 closed, assigned to nobody

[2021-07-13 15:16] alexey-gruzdev opened #124 "Task Assigner Entity"
Task Assigner:
* the ability to assign different task to different envoys.
* the ability to choose certain envoys to run experiment out of all connected to Federation.

[2021-07-13 18:40] stormvirux commented on #96
@dskhanirfan I had the same issue when using `HGG`. I found that this happens when you don't have enough memory (RAM). I had 8GB and it was depleted quickly and it crashes without any error. You can notice this if you monitor RAM consumption using `htop` . `LGG` works without any issue.

[2021-07-14 09:56] alexey-gruzdev commented on #96
@stormvirux thanks for the info! That helps:) I am closing this since that a matter of resources rather than framework itself.

[2021-07-14 09:56] #96 closed, assigned to nobody

[2021-07-20 16:35] alexey-gruzdev commented on #70
@rstoki we are glad to inform that docker image was released and you could use this one along with `PyPI` installation.
[code]
Description here is also updated: https://hub.docker.com/r/intel/openfl

[2021-07-20 16:35] #70 closed

[2021-07-20 16:37] alexey-gruzdev commented on #71
@rstoki since Docker image currently available I believe we could close this issue.

[2021-07-20 16:37] #71 closed

[2021-07-21 08:23] #69 closed

[2021-07-30 10:27] alexey-gruzdev opened #128 "Director/Envoy imperfections"
- [x] **Docs for Director/Envoy** - @igor-davidyuk - https://github.com/intel/openfl/pull/154
- [x] [Redesign stream metrics](https://github.com/intel/openfl/pull/104#discussion_r678522308)  - @igor-davidyuk  - https://github.com/intel/openfl/pull/135
- [x] [Create structure for metric_origin, task_name, metric_name, metric_value, round_ ](https://github.com/intel/openfl/pull/104#discussion_r67679

[2021-07-30 14:46] #38 closed

[2021-07-30 14:46] #120 closed, assigned to aleksandr-mokrov, igor-davidyuk

[2021-07-30 21:35] psfoley opened #130 "Add option to log tensor_db contents on exit"
OpenFL should provide an option to save a log of the TensorDB after failure or when a user hits `Ctrl-C`,  This will make debugging aggregated values significantly easier and allow users to submit more informative issues

[2021-07-30 21:52] psfoley opened #131 "Provide write access to TensorDB through AggregationFunctionInterface"
Recently, OpenFL has expanded the types of custom aggregation functions that can be computed on collaborator models. Some participants from the FeTS Challenge had complex aggregation strategies they wished to implement that were based on [novel calculated metrics](https://github.com/FETS-AI/Challenge/discussions/59) that could be used for a future round.

[2021-07-30 23:01] psfoley opened #132 "Aggregator Tasks to replace standard end of round procedure"
At the end of a round, the aggregator currently calls a set sequence of functions to compute the aggregation of the collaborator models and task metrics. This aggregation procedure is highly tuned for the specific set of tasks normally called in an experiment (`aggregated_model_validation`, `train_batches`, and `local_model_validation`). Adding new tasks with new TensorKey tags does not always beh

[2021-08-04 07:59] itrushkin commented on #131
As a workaround, one can store calculated values in class properties and update them every round. I wouldn't recommend providing full access to TensorDB since we have internal entities dependant on its contents: we deal with certain tags on different stages of communication between aggregator and collaborator. Errors users may receive in case of inconsistent DB state may be confusing.

[2021-08-04 21:21] mansishr opened #139 "Need to have a consistent command for passing director's uri"
As of now, the envoy command asks for director's URI whereas the director for IP and port. It would be great if we could pass in the director's URI at both nodes.

[2021-08-06 11:42] alexey-gruzdev commented on #37
I would close this issue and corresponding PR #58 , since in general here we have to tackle problem of having multiple resources GPUs/CPUs (in parallel or sequential way) and with old API it's hard to do this in a right way. I believe with introduction of Director/Envoy this problem could be better solved on Envoys if they could explicitly say how many resources they have and we could utilize them

[2021-08-06 11:42] #37 closed

[2021-08-10 07:39] katerina-merkulova opened #142 "Poor error traceback"
When I have some errors in my code running federation, I get only the error without full traceback with call stack. For example: `[17:46:46] ERROR Collaborator failed: list index out of range` . And I have no way of knowing where specifically error is. I only have a message above and link to https://github.com/intel/openfl/blob/c2796b6c3a425436d38c3b3b7f8867e2ea4f9918/openfl/component/envoy/envoy.

[2021-08-10 14:15] psfoley commented on #142
Hi @katerina-merkulova, thanks for filing this issue. The director / envoy is nearly finalized, but there are still a couple of minor bugs we are working out before our next tagged release (OpenFL 1.2). I have added more informative logging to this [list of areas to prioritize](https://github.com/intel/openfl/issues/128)

[2021-08-16 16:34] dmitryagapov opened #152 "Create tests for tutorials' notebooks"
There are no tests for openfl-tutorials/interactive_api.
Its have core scenarious for openfl and if some change broke this functionality it sould be fixed as soon as possible. Becouse it is the entry point for new users. And if something was broken here the user can deside that all library isn't working.
It would be greate to create environment for this notebooks and run it on CI.

[2021-08-17 08:16] #139 closed, assigned to nobody

[2021-08-19 12:01] #142 closed, assigned to nobody

[2021-08-20 13:19] aleksandr-mokrov opened #158 "General configuration mechanism"
I propose to create a general mechanism for receiving configurable data and exclude the default values for them from the code, and set them in default configurable file. For example, the director will take params from cli, if they are passed, otherwise from director.yaml in the director workspace, otherwise from `openfl-workspace/default/director.yaml`.

[2021-08-23 08:55] dmitryagapov opened #159 "Investigate what is the most apropriate type for `sample_shape` and `target_shape` in ShardDirectorClient"
Now we are using `['100-200','300-400']` to describe height and width.
Maybe there will be better alternative `((100, 200), (300,400))`, or even create special type for it.
https://github.com/intel/openfl/pull/151/files#r692170647

[2021-08-23 12:08] dmitryagapov opened #160 "Requirements for ShardDescriptor are installing separatly from openfl requirements."
**Describe the bug**
To run envoy we need to install extra requirements that are not installing with openfl.

**To Reproduce**
Steps to reproduce the behavior:
1. clone openfl
2. cd openfl
3. pip install -e .
4. cd openfl-tutorials/interactive_api/Director_Pytorch_Kvasir_UNET/envoy_folder
5. source ./start_envoy.sh
6. envoy return error

**Expected behavior**
envoy is working correct

[2021-08-23 12:18] igor-davidyuk commented on #159
Different data science problems may require samples of different dimensionality. If we want to develop a structure to replace strings it should be flexible enough to support different datasets and the logic behind this structure should be well documented.

[2021-08-23 12:18] dmitryagapov opened #161 "Set default path for step-ca/step CLI binary and certificates"
Set default path for step-ca/step CLI binary and certificates (i.e. ~/.local/workspace/) with standard naming convention ('director.crt', 'envoy_one.crt', 'envoy_two.crt', etc.) so long living entities can start without always providing path for root_cert, cert, and private_key (defaults can still be overridden)

[2021-08-31 15:16] alexey-khorkin opened #163 "Bug while creating local CA with https server"
Bug while creating CA:

`fx pki install -p </path/to/ca/dir> --ca-url <host:port>`

Got an exception:

[code]

**Desktop:**
 - OS: Ubuntu 18.04.5 LTS
 - Python: Python 3.8.5

Expected behavior:
- Need to download and unpack `.zip` archive

[2021-08-31 20:42] psfoley commented on #163
Closing with merge of https://github.com/intel/openfl/pull/164

[2021-08-31 20:42] #163 closed, assigned to nobody

[2021-09-03 07:00] #128 closed, assigned to dmitryagapov, itrushkin, aleksandr-mokrov, igor-davidyuk

[2021-09-03 09:39] dmitryagapov opened #168 "Experiment order in Director"
**Is your feature request related to a problem? Please describe.**
When experiment is set on director, director instantly creates and runs aggregator. Will be better if only one aggregator is run at one time.

**Describe the solution you'd like**
Create structure for experiment.
Create dict, list or queue for experiments.

[2021-09-06 10:21] igor-davidyuk opened #171 "Traceback lost"
This line may suppress traceback for exceptions.
https://github.com/intel/openfl/blob/aed8452b12d20dcc80bd722336246d679fa41484/openfl/component/envoy/envoy.py#L68

Regardless, OpenFL could do better by forwarding exceptions and tracebacks from aggregator and collaborator to the Frontend client

[2021-09-07 16:40] alexey-gruzdev opened #175 "Differential Privacy example via new Interactive API"
It would be great to add _Differential Privacy_ example to our existing tutorials, just to show exact place (**ShardDescriptor** class), where user need to put DP logic.

[2021-09-07 16:42] alexey-gruzdev opened #176 "Non-TF/PyTorch example as a plugin to OpenFL"
It would be great to have an example of some non-TF, non-PyTorch sample (e.g. MXNet, or any other framework) to show users how to write a plugin to support their custom framework logic.

[2021-09-08 12:44] alexey-gruzdev commented on #107
@xjustintongx Could you please confirm that issue still unresolved? and I wonder, if you have time to double-check what @itrushkin has suggested?

[2021-09-08 16:29] ghost commented on #107
Thanks for reminding me. We tried the suggestions of @itrushkin a while ago, but the problem still exists.

The template workspace _tf_2dunet_ seems to be the only workspace that we saw these errors. The others worked out fine.

Currently, I am no longer working on the same project. I am sorry that I can not provide further details.

Thanks for the help!

[2021-09-08 16:40] #107 closed, assigned to nobody

[2021-09-15 16:15] alexey-khorkin opened #180 "Make .sh files executable"
We have  `.sh` files that are not executable:
[code]
For example, before run `start_director.sh` user have to run `chmod +x start_director.sh` to make file executable

Can we just set all files as executable in repo?
[code]

[2021-09-16 09:16] alexey-gruzdev opened #182 "Pin versions of packages"
We need to ping all unpinned versions of packages in setup.py & workspace environments.

[2021-09-16 09:58] #180 closed, assigned to nobody

[2021-09-17 11:57] katerina-merkulova opened #185 "Keras submodels are not supported"
As far as I know, problem occurs at serialization and deserialization steps. User should define get_config and from_config methods ([docs](https://keras.io/guides/serialization_and_saving/)). Then config requires an InputLayer, but submodel doesn't have it. It seems that the InputLayer is only created if user wraps model with functional API ([stackoverflow](https://stackoverflow.com/questions/5815

[2021-09-17 12:34] alexey-gruzdev commented on #185
@katerina-merkulova could you please write down a simple example of such network definition which is not supported.

[2021-09-17 13:01] katerina-merkulova commented on #185
Example of model:
[code]
And these are my attempts to define required methods:
[code]

[2021-09-20 16:43] psfoley commented on #182
@alexey-gruzdev is this about decreasing dependency solving time during installation? Pinning versions of packages makes it harder to integrate other frameworks with OpenFL. Package conflicts have already come up during previous integration efforts ([MLCube](https://github.com/mlcommons/mlcube/blob/master/mlcube/requirements.txt), Frontier Development Lab - CRISP framework), so unless there is a f

[2021-09-21 15:11] alexey-gruzdev commented on #182
Initially, we meant to solve an envoy environment degradation (a lot of experiment-specific packages with their dependencies installed one by one). I would close this with opening another issue.

[2021-09-21 15:11] #182 closed, assigned to nobody

[2021-09-21 15:17] alexey-gruzdev opened #189 "Envoy's Python environment degradation when do multiple experiments within the same Federation"
When we run multiple experiments (could be TF, then PyTorch, then old TF or PyTorch) within the same Federation, envoy's environment is started to degrade. Probably, the solution could be to create a separate environment for each experiment, or clean up the environment when experiment ended.

On Envoy when the Experiment is finished the gpu memory still allocated.

[2021-09-24 14:38] mansishr opened #191 "Can't obtain best model if validation task is not defined"
Maybe not a bug but we can document this for the user to know that the best model (fl_experiment.get_best_model()) is in context of validation function.

[2021-09-28 10:33] alexey-khorkin opened #193 "Run envoys from one folder"
Steps to reproduce the behavior:
1. git checkout one_folder_issue
2. Go to `TensorMNIST` folder:
[code]
3. Start director:
Go to the `director_folder` and then:
[code]
4. Start envoys:
Go to `envoy_one_folder`
[code]
From another terminal:
[code]
5. Run `Mnist_Classification_FL.ipynb` notebook (run all cells)
6. Now you might faced with the issue, but if not:
      6.1) In jupyter notebook: rename

[2021-09-28 12:41] igor-davidyuk opened #194 "Change Enum utilisation in Collaborator component and Frontend API"
1. Default opt_treatment value causing an error
https://github.com/intel/openfl/blob/bff461a20c535cb75eebdbc6ace2895b5b560f02/openfl/component/collaborator/collaborator.py#L70
2. Interactive API's Experiment object should operate in enum values  for opt_treatment parameter and device_assignment_policy
https://github.com/intel/openfl/blob/bff461a20c535cb75eebdbc6ace2895b5b560f02/openfl/interface/in

[2021-09-28 12:44] dmitryagapov opened #195 "Redesign protobuf messages"
- [x] define messages as ``` rpc <RpcName> (<RpcName>Request) retunns (<RpcName>Response) {}```
 - [x] redesign `ShardInfo`, `ExperimentData`, `ExperimentInfo`, `CollaboratorStatus`, `ShardAcknowledgement`

[2021-09-28 13:27] igor-davidyuk commented on #195
+ compilation problems
+ rewrite federation.proto compliant to proto3 syntax

[2021-10-04 11:58] alexey-khorkin opened #198 "Circular import issue"
If we import `Director` class in `openfl/transport/grpc/director_server.py` (for type annotation or just not to use `director_cls` parameter in `DirectorGRPCServer` initialization func) we will see ImportError.

Steps to reproduce the behavior:
1. git checkout circular_imports_issue
2. pip install .
3. fx director start --disable-tls -c openfl-tutorials/interactive_api/Tensorflow_MNIST/director_fo

[2021-10-06 07:58] alexey-gruzdev commented on #198
I believe it's not an issue, and should be investigated in the different manner. I am closing this issue, and additional investigation would be raised after #188 would be merged.

[2021-10-06 07:58] #198 closed, assigned to nobody

[2021-10-15 08:18] alexey-gruzdev opened #213 "Mac OS support"
Add support to Mac users for OpenFL.

[2021-10-19 14:04] alexey-gruzdev commented on #160
Closed this per discussion with @dmitryagapov , since it looks like separation of requirements is natural due to running on different machines.

[2021-10-19 14:04] #160 closed, assigned to nobody

[2021-10-28 15:55] GMTSE opened #217 "Dead link in the README"
Hi,

FYI, The link to the notebooks (for starters with the platform) in the README (https://openfl.readthedocs.io/en/latest/running_the_federation.notebook.html) is wrong.

Have a nice day

[2021-10-28 16:05] #217 closed, assigned to nobody

[2021-10-28 16:07] alexey-gruzdev commented on #217
Hi @GMTSE, thanks for the interest and to bring this up. Fixed via https://github.com/intel/openfl/commit/f2e59b3004a32543b6af31b24d137b47dff854b4 .

[2021-11-02 08:04] dmitryagapov opened #219 "Restore experiment from director."
Allow to get experiment data and restore experiment object in notebook.

[2021-11-03 11:53] saransh09 opened #221 "Reproducing the Director-Envoy notebook on DevCloud"
I am trying to reproduce the director-envoy notebook on DevCloud for a demo. There is a strange behavior that I have come across. One of the envoy starts training, but other one fails for some reason. I am adding the traceback of the error down below. If someone knows why that is happening, could you please let me know?

plan.py:176
[04:28:34] ERROR    Collaborator failed with error: unsupported p

[2021-11-03 11:53] alexey-gruzdev commented on #221
@saransh09 which particular example you are trying to use?

[2021-11-03 11:56] saransh09 commented on #221
https://github.com/intel/openfl/tree/develop/openfl-tutorials/interactive_api/PyTorch_Kvasir_UNet

[2021-11-03 12:24] alexey-gruzdev commented on #221
@saransh09 let's try to see if we are achieving the same behaviour with Python 3.8. Keep us updated.

[2021-11-03 15:14] CasellaJr commented on #213
Hello. After running `fx` i have this error:
`from contextlib import asynccontextmanager

ImportError: cannot import name 'asynccontextmanager'`

[2021-11-03 15:14] dmitryagapov opened #222 "Reorganize gRPC method"
These RPCs are also made by front-end clients. In this sense, those are also API RPCs (better rename to FRONTEND RPCs)

_Originally posted by @igor-davidyuk in https://github.com/intel/openfl/pull/174#discussion_r740906285_

[2021-11-03 15:15] dmitryagapov opened #223 "Restore Experiment from Director"
Could we also restore the `FLExperiment` object in a jupyter notebook from the information on the Director?
Imagine that we restarted the notebook and want to get the object back, or we want to manage some experiment from another notebook or client.

_Originally posted by @igor-davidyuk in https://github.com/intel/openfl/pull/174#pullrequestreview-784820546_

[2021-11-03 15:26] alexey-gruzdev commented on #213
@CasellaJr hey! thanks for interest in OpenFL. Could you please post details around you MacOS, Python, and how you install OpenFL in it?

[2021-11-03 15:35] CasellaJr commented on #213
@alexey-gruzdev Hello, thank you.
I have a MacBook Pro (Retina, 13-inch, Early 2015), CPU 2,7 GHz Intel Core i5 dual-core, and MacOS BigSur
Conda: 4.9.2
I created a virtual env as written in the guide: https://openfl.readthedocs.io/en/latest/install.initial.html
1. conda create -n my_env pip python=3.6
2. conda activate my_env
3. git clone https://github.com/intel/openfl.git
4. cd openfl/
5. pip i

[2021-11-03 15:43] alexey-gruzdev commented on #213
@CasellaJr okay, thanks for clarification. Could I kindly ask you to try python3.7 or 3.8. Because, from initial search looks like it's [python3.6 issue](https://stackoverflow.com/questions/65268193/unable-to-import-asynccontextmanager-from-contextlib) with context lib

[2021-11-03 15:49] CasellaJr commented on #213
@alexey-gruzdev Okay, it seems working with Python 3.7
I tried also with Python 3.9 but it does not work

[2021-11-03 16:01] alexey-gruzdev commented on #213
@CasellaJr either 3.7 or 3.8 should work:) then, I will take a note about that. We don't have a official MacOS support yet, but it would be good to know about your findings

[2021-11-04 09:17] saransh09 commented on #221
INFO     Building 🡆 Object CloudpickleSerializer from openfl.plugins.interface_serializer.cloudpickle_serializer Module.                  plan.py:170
           INFO     Settings 🡆 {}                                                                                                                    plan.py:173
           INFO     Override 🡆 {}

[2021-11-04 11:57] alexey-gruzdev commented on #221
@saransh09 any modifications to code of the example? Any comments from DevCloud team? I wonder if you would change machines in devcloud and see the same behaviour

[2021-11-06 14:21] CasellaJr opened #226 "RuntimeError: mat1 and mat2 shapes cannot be multiplied (128x512 and 2048x4096)"
I was running the PyTorch MNIST tutorial. I changed the network into a my own neural network. When I run the experiment I have this error: `RuntimeError: mat1 and mat2 shapes cannot be multiplied (128x512 and 2048x4096)`

To reproduce: open the PyTorch MNIST tutorial and change the definition of the network in this:
[code]
Or change in another custom neural network that you want.
When you run the

[2021-11-10 22:28] alexey-khorkin opened #236 "Running only validation task"
### Description:

The error appears when trying to start an experiment that only has a validation task

### To Reproduce:
Steps to reproduce the behavior:

1.
[code]

2.
[code]
and run `pytorch_tinyimagenet.ipynb`

3. Run director and envoy
4. Run all jupyter cells, note that now we have only validation task for an experiment
5. See error on envoy side:
[code]

**Desktop (please complete the follo

[2021-11-12 09:59] alexey-gruzdev commented on #191
/сс @alexey-khorkin

[2021-11-15 11:11] alexey-gruzdev commented on #168
Actually this one was closed via https://github.com/intel/openfl/pull/188/ .

[2021-11-15 11:11] #168 closed, assigned to dmitryagapov

[2021-11-17 10:22] saransh09 commented on #221
Sorry for the delay

I am pasting the traceback of the exact problem, I tried to segregate and repeat the experiment in a different environment :

ERROR: Could not find a version that satisfies the requirement cfxmagic==0.1.dev0 (from versions: none)
ERROR: No matching distribution found for cfxmagic==0.1.dev0
[02:05:48] ERROR    Failed to install requirements: Command '['/home/u71711/.conda/envs/

[2021-11-17 10:22] #221 closed, assigned to nobody

[2021-11-17 14:20] katerina-merkulova opened #241 "Workspace env hasn't installed Tensorflow, therefore envoy hasn't it too"
When I install dependencies in the notebook, then there're not seen by `freeze` in python:
https://github.com/intel/openfl/blob/050b8354b698a34b5ef01f0f55f968f52f63f84d/openfl/interface/interactive_api/experiment.py#L182

So, it triggers `ModuleNotFoundError: No module named 'tensorflow'` on the envoy. After restarting the kernel and the federation, if it is running, everything is fine.

However,

[2021-11-18 08:11] katerina-merkulova commented on #241
Python 3.8.10
pip 20.0.2
jupyter 1.0.0

[2021-11-24 08:53] shreyasnc1 opened #246 "Error while running the kvasir interactive API example"
**Describe the bug**
Error while running the kvasir interactive API example

**To Reproduce**
Steps to reproduce the behavior:
1) Use openfl 1.2 and Pytorch_kvasir interactive API tutorial
2) Start Director
3) Start Envoy
4) After dataset is download, there is an error

**Expected behavior**
Federation should start

**Screenshots**
![image](https://user-images.githubusercontent.com/84725834/143205

[2021-11-24 08:55] alexey-gruzdev commented on #246
@shreyasnc1 could you please post the commands that you are using for starting the director/envoy?

[2021-11-24 08:58] shreyasnc1 commented on #246
Director:
fx director start --disable-tls -c director_config.yaml

Envoy:
fx envoy start -n env_one --disable-tls --envoy-config-path envoy_config.yaml -dh localhost -dp 50050

envoy_config.yaml has:
-----------
(myenv) snc@vsglab-S2600WFQ:~/snc/openfl/openfl-tutorials/interactive_api/PyTorch_Kvasir_UNet/envoy$ cat envoy_config.yaml
params:
  cuda_devices: [0,2]

optional_plugin_components:
 cuda_

[2021-11-24 09:00] alexey-gruzdev commented on #246
@shreyasnc1 Could you please also post a `director_config.yaml` as well?

[2021-11-24 09:02] shreyasnc1 commented on #246
settings:
  listen_host: localhost
  listen_port: 50050
  sample_shape: ['300', '400', '3']
  target_shape: ['300', '400']
  envoy_health_check_period: 5  # in seconds
~
~

We are running federation on the same machine

[2021-11-24 09:03] alexey-gruzdev commented on #246
My initial guess is that with version 1.2 (if you are installing this from PyPI by using `pip install openfl`) you also need to use the v1.2 of tutorial - https://github.com/intel/openfl/blob/v1.2/openfl-tutorials/interactive_api/PyTorch_Kvasir_UNet/envoy/shard_config.yaml . Shard config in that case doesn't have `optional_plugin_components` section

[2021-11-24 09:12] alexey-gruzdev commented on #246
@shreyasnc1 I've checked v1.2 on my machine and v1.2 tag for tutorial files. So it looks like you need to change port to 50050 [in the running script](https://github.com/intel/openfl/blob/v1.2/openfl-tutorials/interactive_api/PyTorch_Kvasir_UNet/envoy/start_envoy.sh) And Envoy could connect to the Director in this scenario

[2021-11-24 09:16] shreyasnc1 commented on #246
@alexey-gruzdev

I did the change, but didnt help :(

![image](https://user-images.githubusercontent.com/84725834/143209104-4342215a-48f1-43cf-aad6-f9fd14b5bd32.png)
![image](https://user-images.githubusercontent.com/84725834/143209168-d695fd9b-da23-42d1-99cc-88c522e874f9.png)

Contents of shard_config.yaml:

(myenv) snc@vsglab-S2600WFQ:~/snc/openfl/openfl-tutorials/interactive_api/PyTorch_Kvasir_

[2021-11-25 04:49] shreyasnc1 commented on #246
@alexey-gruzdev  the issue was because of the intel proxy I had set .
unset http_proxy; unset https_proxy helped.

thanks

[2021-11-25 05:15] shreyasnc1 commented on #246
@alexey-gruzdev  The experiment continues on both director and envoy, but in the workspace I see this error:

Director:
![image](https://user-images.githubusercontent.com/84725834/143383483-c1b92457-945b-4062-8a34-01b8db313ed4.png)

Envoy
![image](https://user-images.githubusercontent.com/84725834/143383544-2097f654-077d-48f2-abe6-4c7e2ef329e9.png)

Workspace(running experiment)

![image](https://

[2021-12-03 13:01] #236 closed, assigned to nobody

[2021-12-03 13:03] #191 closed, assigned to nobody

[2021-12-06 09:03] CasellaJr commented on #226
It can be closed. It was my problem: i was using 28x28 images, while this network works with 32x32 images

[2021-12-06 09:06] #226 closed, assigned to nobody

[2021-12-08 15:07] #246 closed, assigned to nobody

[2021-12-08 15:07] shreyasnc1 commented on #246
CLosing the issue as the issue is looking like an env issue

[2021-12-13 09:13] alexey-gruzdev opened #264 "Migrate from Jupyter Notebook to Jupyter Lab"
Migrate OpenFL from Jupyter Notebook to JupyterLab.

- migration itself
- adopting README files of our tutorials + documentation
- `fx tutorial start` as well

[2021-12-13 17:08] alexey-gruzdev opened #266 "HuggingFace/transformers + OpenFL example"
Integrate example of [HuggingFace/transformers](https://github.com/huggingface/transformers) in Federated Learning setup using OpenFL.

[2021-12-14 07:12] alexey-gruzdev opened #267 "Simple ML model on NumPy as example of custom plugin in OpenFL"
It would be great to integrate example of ML model training in pure NumPy as a showcase of custom plugin  implementation in OpenFL

[2021-12-14 10:58] alexey-gruzdev opened #268 "PyTorch Lightning example + OpenFL"
Integrate example of [PyTorch Lightning](https://www.pytorchlightning.ai) use-case in Federated Learning setup using OpenFL.

[2021-12-15 03:53] siyuqqq opened #269 "An error occurs when 'collaborator.settings.delta_updates' set to 'True'"
**Describe the bug**
Hi OpenFL team,
I try to train my model based on the 'default' workspace. I override the value of 'collaborator.settings.delta_updates' to 'True' in the plan.  An error occurs at the beginning of the second round: "AttributeError: 'tuple' object has no attribute 'remove'".

I've also tried to change this value in "Federated_Keras_MNIST_Tutorial" and got the same error. But eve

[2021-12-15 06:25] alexey-gruzdev commented on #269
Hi @Siyuqqq ! Thanks for you interest in OpenFL and reaching out to us!

Yeah, we know, that such bug exists, and for right now we don't have resolution for this issue yet.

In general, we would recommend to use [interactive_api examples](https://github.com/intel/openfl/tree/develop/openfl-tutorials/interactive_api), since they rely on Director-based workflow which is preferred. You can read more

[2021-12-15 08:36] siyuqqq commented on #269
Hi @alexey-gruzdev,

Thanks for your advice. I'll try out the interactive_api examples.

[2021-12-15 17:25] rlmcgech-intel opened #270 "OpenFL Intermittent memory fault with SGX"
Federal and Aerospace - Cybersecurity Demo Platform (CDP)

CDP OpenFL use case, once validation is underway, we will have more data regarding this issue.

still monitoring for reproducibility.

Cross reference with CDP req FAREQ-99

[2021-12-15 17:30] rlmcgech-intel opened #271 "OpenFL inferencing doesn't work on Keras framework"
Federal and Aerospace - Cybersecurity Demo Platform (CDP)

CDP OpenFL use case

Inferencing issue needs to be fixed for Keras framework.    Currently it works for Pytorch but has not been fixed on Keras.

Cross reference with CDP req FAREQ-101

[2021-12-15 18:01] rlmcgech-intel opened #272 "OS Support for CDP"
Federal and Aerospace - Cybersecurity Demo Platform (CDP)

CDP OpenFL use case + future

Ubuntu latest LTS to drive adoption

RedHat latest LTS to drive adoption

CentOS latest LTS to drive adoption

Example: OpenFL needs to work on Ubuntu 20.04.2 for Fortress Peak

Cross reference with CDP req FAREQ-96

[2021-12-15 18:05] rlmcgech-intel opened #273 "OpenFL in an SGX Enclave with Gramine"
Federal and Aerospace - Cybersecurity Demo Platform (CDP)

CDP OpenFL use case

OpenFL should support training and running models inside an SGX enclave using Gramine.

 Specifics: OpenFL branch FDL2021 needs to be updated for SGX support.   Future branches need to incorporate SGX enclave using Gramine.

Cross reference with CDP req FAREQ-97

[2021-12-15 18:09] rlmcgech-intel opened #274 "OpenFL support outside of Jupyter Notebooks"
Federal and Aerospace - Cybersecurity Demo Platform (CDP)

CDP OpenFL use case

OpenFL should have examples and support outside of Jupyter notebooks.

All features and capabilities available in Jupyter notebooks should be made available outside of Jupyter notebooks.

Cross reference with CDP req FAREQ-98

[2021-12-15 18:11] rlmcgech-intel opened #275 "OpenFL, Ability to run scripts offline, without internet"
Federal and Aerospace - Cybersecurity Demo Platform (CDP)

CDP OpenFL use case

Fortress Peak is a demo system that is not on the internet.   Currently OpenFL scripts download training data from the internet.    Need to remove all dependencies on the internet.

Cross reference with CDP req FAREQ-100

[2021-12-15 18:14] rlmcgech-intel opened #276 "OpenFL needs to support Keras, Pytorch and TensorFlow frameworks"
Federal and Aerospace - Cybersecurity Demo Platform (CDP)

CDP OpenFL use case

Cross reference with CDP req FAREQ-102

[2021-12-15 18:29] rlmcgech-intel opened #277 "OpenFL training xterm windows to the GUI"
Federal and Aerospace - Cybersecurity Demo Platform (CDP)
CDP OpenFL use case

There is no feedback from the OpenFL training xterm windows to the GUI. For example if they fail the GUI will not be aware of it. The feedback is useful especially after the attack the secure mode training is expected to fail and never complete. Because there is no feedback from the GUI for this failure, a note is added

[2021-12-15 18:30] rlmcgech-intel opened #278 "OpenFL Reduce SGX enclave load time"
Federal and Aerospace - Cybersecurity Demo Platform (CDP)
CDP OpenFL use case

Currently with SGX openFL training takes about 10 minutes to complete. OpenFL team can help us here to reduce the SGX enclave loading time, as of now which is about 7 minutes.

[2021-12-15 18:47] #278 closed, assigned to nobody

[2021-12-15 18:48] #277 closed, assigned to nobody

[2021-12-15 18:49] psfoley commented on #276
Thanks @rlmcgech-intel for submitting this issue. Keras, Pytorch, and Tensorflow are all supported today in OpenFL.

[2021-12-15 18:49] #276 closed, assigned to nobody

[2021-12-15 18:53] psfoley commented on #275
@rlmcgech-intel while some of the provided OpenFL examples rely on public datasets, OpenFL running on a single node has no dependence on an external connection if local datasets are available.

[2021-12-15 18:53] #275 closed, assigned to nobody

[2021-12-15 18:54] #271 closed, assigned to nobody

[2021-12-15 22:28] #274 closed, assigned to nobody

[2021-12-15 22:28] #273 closed, assigned to nobody

[2021-12-15 22:28] #272 closed, assigned to nobody

[2021-12-15 22:29] #270 closed, assigned to nobody

[2021-12-15 23:25] psfoley commented on #269
Hi @Siyuqqq, thanks a lot for bringing visibility to this!

I just submitted a fix to the problem in [this PR](https://github.com/intel/openfl/pull/279). There was a small bug in the aggregator code, and the other problem was a default configuration setting that only kept information of the latest round in the aggregator database to minimize memory bloat, whereas the current and last round model a

[2021-12-16 13:09] alexey-gruzdev opened #281 "Adaptive Federated Optimization algorithms implementation"
Implement inside OpenFL `FedYogi`, `FedAdagrad`, `FedAdam` aggregation algorithms from https://arxiv.org/pdf/2003.00295.pdf

[2021-12-17 22:35] mansishr opened #282 "Same data shard on multiple envoys when using shard descriptor with random data splitter"
**Describe the bug**
When using shard descriptor with data splitter functionality (kvasir_shard_descriptor_with_data_splitter.py), the same data shard is appearing across multiple envoys. This is because the split function to shard the dataset (RandomNumpyDataSplitter) is being called on every envoy, causing the split to occur on every envoy. https://github.com/intel/openfl/blob/b60cbfbdad595e653c

[2022-01-12 08:41] itrushkin commented on #282
Data shards can intersect due to non-fixed random behavior. I have reproduced the issue and tried fixing the random seed of `RandomDataSplitter` in #288. There, data is split in a unified way meaning that if the splitter does not contain intersections, envoy shards will be unique. Please check that this PR will fix this issue.

[2022-01-20 15:40] #267 closed, assigned to igor-davidyuk

[2022-01-21 13:26] itrushkin opened #298 "RuntimeError while training and validating on different devices"
**The Bug**
Training and validation tasks could not be executed on different devices.
The current device assigning policy does not allow specifying devices per task, but if the device is overridden inside a task code (e.g. for CPU inference), an error is raised (see below).

**Steps To Reproduce**
1. Open any tutorial folder in `openfl-tutorials/interactive_api`. I found the bug in `PyTorch_Kvasir

[2022-01-24 19:35] yjwong1999 opened #299 "pynvml.NVMLError_LibraryNotFound: NVML Shared Library Not Found"
I encounter these errors when i try to run :fx envoy start" command:
**AttributeError: /usr/lib/x86_64-linux-gnu/libnvidia-ml.so.1: undefined symbol: nvmlInitWithFlags**
**pynvml.NVMLError_LibraryNotFound: NVML Shared Library Not Found**

- I'm not sure how to resolve the first issue

- For the second error, a github issues says that:
[Unfortunately this tool (as well as any other GPU management t

[2022-01-24 22:48] alexey-gruzdev commented on #299
@yjwong1999 thanks for reaching us out.

I believe it's connected with installation and usage of config, which require GPU for training. I believe you can simply disable this from config file and left the field empty. You could double-check difference [here](https://github.com/intel/openfl/blob/develop/openfl-tutorials/interactive_api/PyTorch_Kvasir_UNet/envoy/envoy_config_no_gpu.yaml) and [here](

[2022-01-25 01:39] yjwong1999 commented on #299
@alexey-gruzdev
Thanks for the feedback! I tried and it works!
I remembered to set **cuda_devices** as [], but I forgot to leave the **optional_plugin_component** field empty {}
Will close this issue.

[2022-01-25 01:39] #299 closed, assigned to nobody

[2022-01-26 09:59] #282 closed, assigned to nobody

[2022-01-27 11:01] alexey-gruzdev commented on #195
Resolved via #296

[2022-01-27 11:02] #195 closed, assigned to nobody

[2022-01-28 11:51] #269 closed, assigned to psfoley

[2022-01-28 11:52] alexey-gruzdev commented on #269
@Siyuqqq we've merged fix inside develop, so now it should work. Please double-check on your side!:)

[2022-02-01 15:03] #268 closed, assigned to mansishr

[2022-02-04 10:25] #264 closed, assigned to dmitryagapov

[2022-02-07 15:20] dmitryagapov opened #310 "Add flake8 plugins"
- [ ] flake8 plugin to check that all function parameters have annotation
  - [ ] components: #377
  - [x] cryptography #388
  - [x] databases #380
  - [ ] federated
    - [ ] data #390
    - [ ] plan #391
    - [ ] task #393
  - [ ] interface
  - [ ] native
  - [ ] pipelines
  - [ ] plugins
  - [ ] protocols
  - [ ] transport
  - [ ] utilities
  - [ ] openfl-tutorials (optional) #383
  - [x] open

[2022-02-07 15:22] dmitryagapov opened #311 "Add pre-commit hook for flake8"
For more information check this link https://pre-commit.com/

[2022-02-07 21:18] CasellaJr opened #313 "MultiThreadedRendezvous of RPC that terminated with: status = StatusCode.UNAVAILABLE"
Hi everyone. I am using MNIST with PyTorch on OpenFL. Training starts but after 1 round I have this error on the envoy:

[code]

While on the director:
[code]

And in the notebook:
[code]

I am using OpenFL via ssh on a cluster. The strange thing is that It works with a simple (2conv layers and 2 fc layers) network, but now with a greater network it does not work

[2022-02-08 06:19] alexey-gruzdev commented on #313
@CasellaJr could you please double-check that director was not killed due to some OS rules, like for example if it's not enough resources for him, OS just kills Director and that's why you are receiving connection issue?

[2022-02-08 08:36] CasellaJr commented on #313
How can I double-check?
Moreover, I was running another experiment, simpler, that I know works and I have seen that the experiment finishes successfully as stated by the director: `[08:39:26] INFO     Experiment "tinyimagenet_test_experiment" was finished successfully.`
However, the envoy report the same error:
[code]

[2022-02-09 14:34] #222 closed, assigned to aleksandr-mokrov

[2022-02-09 17:09] aleksandr-mokrov opened #316 "Get organised with tensor tags type."
Tensor tags, that are used by the aggregator, can be different types inside the aggregator in different methods. It can be list, tuple, str or <class 'google.protobuf.pyext._message.RepeatedScalarContainer'>. One methods cast it to list, others to tuple. We should unify it.

[2022-02-09 17:14] aleksandr-mokrov opened #317 "Consider avoiding store generated protobuf files in git."
Consider opportunity to generate protobuf files (that are generated from protocols) during installation process, instead keeping them in git.

[2022-02-17 12:26] igor-davidyuk opened #342 "Introduce a deterministic algorithm for choosing a port for the aggregator server."
The workflow will probably be as follows:
Director config will feature a new parameter `open_ports` listing one or more ports.
This list will be tracked by the Director-service, which will provide one of the ports to the Aggregator at the start time.

[2022-02-17 15:03] ladi-pomsar commented on #342
Hi,

Thank you for doing this. Motivation behind this is that when one is working on secure system, it is important to open just as much ports as is needed, in a controlled fashion. With aggregator picking "random" port, it is rather problematic to achieve minimalisation of open ports.

[2022-02-24 14:33] #281 closed, assigned to alexey-khorkin

[2022-02-24 14:43] alexey-khorkin opened #350 "Mistake in the docs"
I guess [here](https://openfl.readthedocs.io/en/latest/overriding_agg_fn.html), we have an error when try to get `previous_tensor_value` in `class ClippedAveraging(AggregationFunction)`.
It seems that the variable `fl_round - 1` should be different (simply `fl_round` ?)

[2022-02-24 21:17] #266 closed, assigned to mansishr

[2022-02-28 15:44] dmitryagapov opened #352 "Investigate how to validate dataset files"
1. Is it possible to calculate only one hash for all files.
2. Looks like md5 hash is not ecure and better to use sha256
https://en.wikipedia.org/wiki/MD5#Security

_Originally posted by @dmitryagapov in https://github.com/intel/openfl/pull/349#discussion_r815974374_

[2022-02-28 16:21] #124 closed, assigned to igor-davidyuk

[2022-02-28 20:02] alexey-gruzdev opened #354 "Separate OpenFL samples and tutorials"
We need to clearly separate OpenFL samples (which would just show how to integrate OpenFL and various use-cases) and tutorials or lifehachks (how to add your custom aggregation function/play with assigner/get_last_model(), get_best_model() and continue training, use data splitters or different agg functions like FedOpt/FedProx/etc.) just to have them in different places to avoid user's confusion.

[2022-03-01 00:10] psfoley commented on #124
Approved

[2022-03-01 08:59] CasellaJr opened #356 "Aggregator does not have an aggregated tensor for TensorKey(tensor_name='block_1.1.running_mean', origin='aggregator_plan.yaml_4ebcd576', round_number=55, report=False, tags=('model',))","grpc_status":2}""
During training, after several epochs (55 in this example, but this number is random) this errors happens.
[code]

I was doing image classification on MNIST using 1 director and 10 envoys with a non-iid data distribution.

[2022-03-01 11:24] #158 closed, assigned to dmitryagapov, aleksandr-mokrov

[2022-03-01 13:08] #176 closed, assigned to alexey-khorkin, ViktoriiaRomanova

[2022-03-01 16:27] #66 closed

[2022-03-03 07:21] yjwong1999 opened #364 "Cant connect to director from another device"
Hi @aleksandr-mokrov
I have tried out the OpenFL framework and implemented my own custom application.
**So far it works great!** I would like to scale up my application, using additional devices for the collaborative training.
However, I couldn't get other devices to connect to the host device that runs the OpenFL Director.

For simplicity's sake, assuming I'm using the tutorial provided in **open

[2022-03-03 07:49] aleksandr-mokrov commented on #364
Hi, @yjwong1999! Thanks for your feedback!
Have you changed `listen_host` to your IP address in director_config.yaml (inside openfl-tutorials/interactive_api/Tensorflow_MNIST/director)?

[2022-03-03 08:00] yjwong1999 commented on #364
Hi @aleksandr-mokrov
I just realised I have not changed the listen_host in director_config.yaml
I can now connect to the director using another device.

Thank you so much for the prompt reply!
Very nice repo and feedback from the OpenFL Team!

[2022-03-03 08:00] #364 closed, assigned to nobody

[2022-03-03 11:34] CasellaJr commented on #356
I have always this error after a random number of rounds. I used the DEBUG option. I note that each round I have this strange sentence: `DEBUG    Unable to get tensor from local store...attempting to retrieve from client  ` but it goes on until the crash. I mean each round in each envoy there are all these:
[code]
Until the error
[code]

[2022-03-03 15:13] psfoley commented on #66
Approved

[2022-03-03 15:13] psfoley commented on #266
Approved

[2022-03-03 15:13] psfoley commented on #268
Approved

[2022-03-03 15:13] psfoley commented on #267
Approved

[2022-03-05 11:23] CasellaJr commented on #356
I attach the logs of an experiment with 10 envoys. The experiment crashes after 35 rounds with the usual error.
[LOGS.zip](https://github.com/intel/openfl/files/8190545/LOGS.zip)
Mad love, peace out

[2022-03-08 18:44] mansishr commented on #298
Reproduced this behavior on MXNet. We should add model.collect_params().reset_ctx(ctx=[device]) to the tutorial when we change devices to reset the context.
Could not reproduce this behavior for Tensorflow example. The user can switch devices for different tasks without an issue in Tensorflow.

[2022-03-09 07:31] alexey-gruzdev commented on #298
cc @alexey-khorkin @ViktoriiaRomanova

[2022-03-09 07:52] CasellaJr commented on #356
I add the following details:
Using 2 envoys it easily reaches 100 rounds. However, increasing the number of envoys increases the probability of crash

[2022-03-09 19:42] alexey-khorkin commented on #193
I think, this issue could be closed according to https://github.com/intel/openfl/pull/367#pullrequestreview-904883101

[2022-03-09 20:45] alexey-khorkin commented on #316
@mansishr I think more changes are needed here.
If we will use grep command:
[code]

[2022-03-09 20:59] #193 closed, assigned to mansishr

[2022-03-10 08:28] #223 closed, assigned to nobody

[2022-03-10 08:29] dmitryagapov commented on #223
Duplicate https://github.com/intel/openfl/issues/219

[2022-03-10 18:21] Giemp95 commented on #356
Hello everybody,

I spent some time looking at the parallel execution flow of the OpenFL framework, and I might have spotted the cause of this unexpected behaviour.
In my opinion, the parallel aspect of the framework is not handled correctly. The main mechanism of task dispatching managed by the Aggregator does not seem to consider any synchronisation problems that may arise between Collaborators

[2022-03-11 12:01] CasellaJr commented on #356
Hi everyone. I followed the advice of Gianluca. I increased the sleep in `openfl/component/aggregator/aggregator.py` line 234 from 10s to 20s and I reached 100 rounds. So, the problem is here.

[2022-03-11 12:26] alexey-khorkin commented on #356
@CasellaJr, I think problem more complex. I used from 8 to 15 envoys and every time achieve 100+ rounds without any errors (Tensorflow_MNIST example, local federation setup). So could you please provide more info about federation setup? For example, whether you started the envoys from the same folder or from different ones? What about virtualenvs? Was it localhost setup or not? Thanks!

[2022-03-11 12:39] CasellaJr commented on #356
My setup:
1. Run the PyTorchTinyImagetNet Tutorial present in the interactive_api inside openfl-tutorials
2. I use 10 envoys, each envoy runs on a different computer
3. I installed in each envoy the virtualenv, following the instructions in the official documentation
4. So no, not in local, but 10 different computers

[2022-03-11 12:42] alexey-khorkin opened #375 "Circular import issue"
Circular import error when starting director. The problem occurs when we will annotate the `model_interface` parammeter inside `NumPyAdagrad` and then start director (any interactive-api example could be used)

[code]

The point here is that this interface class must have the ability to be imported anywhere, as it is an interface and can be used for annotations.

**To Reproduce**
1. Сheckout on `c

[2022-03-14 08:50] igor-davidyuk commented on #298
Did you try to move the optimizer to CPU?

[2022-03-15 09:40] dmitryagapov opened #379 "Tests for Jupyter Notebook tutorials."
Add functional tests for all tutorials.
Jupyter Notebooks could be tested using `pytest` and [`nbmake`](https://github.com/treebeardtech/nbmake).
If director and envoys would be started from Jupyter Notebook test process has been automated without adoptation every new notebook.

[2022-03-15 12:01] dmitryagapov opened #382 "Common config.yaml structure for director and envoy."
Director and envoy configs have different structures. For example:
[code]
Looks like `settings` in `director_config.yaml` and `params` in `envoy_config.yaml` are used for the same porpose but have different names.
Would be great to have the same base param names in director and envoy configs.

[2022-03-16 09:50] aleksandr-mokrov commented on #356
@CasellaJr, could you try move  `self.round_number += 1` after `self._save_model(self.round_number, self.last_state_path)` and replace `self._save_model(self.round_number, self.last_state_path)` by `self._save_model(self.round_number+1, self.last_state_path)` here https://github.com/intel/openfl/blob/develop/openfl/component/aggregator/aggregator.py#L851?
The problem is that after we have incremen

[2022-03-16 10:03] CasellaJr commented on #356
Good morning Aleksandr. Thanks for the answer. I will try your advice asap.
Meanwhile, I am using this trick: I changed these lines https://github.com/intel/openfl/blob/develop/openfl/component/aggregator/aggregator.py#L368 in aggregator.py removing the ValueError. Basically, I wrote this:
[code]
In this way I am achieving 100 rounds without problems. However, it is only a temp solution.

[2022-03-16 22:29] mansishr commented on #354
I also suggest listing down links to OpenFL examples and hacks as a part of the [front page documentation](https://github.com/intel/openfl/blob/develop/README.md) for a more user friendly experience.

[2022-03-16 23:53] psfoley opened #386 "Director / Envoy option to prompt user for experiment review before execution"
The interactive API is currently intended for environments where the user wishes to do frequent experimentation without needing to redistribute the workload manually. To make the interactive API safer for production environments, there should be an option to deploy the envoy and director in such a way that users can review the contents of the workload prior to execution.

[2022-03-17 11:15] dmitryagapov opened #387 "CudaDeviceMonitor failed when defined inexistent gpu device index"
**Steps to reproduce**
1. Add inexist gpu index to envoy_config.yaml
[code]
2. run director
3. run envoy
4. run jupyterlab
5. run experiment
6. see logs on envoy

**Expected behavior**
No exceptions on envoy

**Actual behaviour**
[code]

[2022-03-18 14:00] #317 closed, assigned to itrushkin

[2022-03-18 15:39] dmitryagapov commented on #386
We can try to use `inspect` module to get a source code from pickle object.
https://docs.python.org/3/library/inspect.html#inspect.getsource

[2022-03-22 23:50] psfoley commented on #386
Unfortunately both `inspect.getsource` and `dill.source.getsource` are not a reliable way to regenerate the code in many cases (especially when the code is created in a jupyter notebook / ipython session). Here are some examples:

[code]
An alternative could be serializing and sending the jupyter notebook (or python script) that launches the experiment for review, but the remote user needs a way t

[2022-03-23 12:50] dmitryagapov opened #392 "Return python objects instead of protobuf messages from methods in transport.grpc modules"
We should use protobuf message only in transport.grpc modules. Other modules shouldn't operate with grpc specific objects.
Looks like we can unify our methods' input params and result using `google.protobuf.json_format`.

[2022-03-24 07:11] alexey-khorkin commented on #375
A new one:
[code]

[2022-03-24 11:33] itrushkin opened #394 "Protobuf is not compiled with develop installation"
**Describe the bug**
When installing OpenFL in develop (`-e`) mode compiled files are not created.

**To Reproduce**
Steps to reproduce the behavior:
1. From root repo directory execute:
```pip install -e .```
2. Execute `fx`.
3. See error:
[code]
<details>
  <summary>Traceback</summary>

[code]
</details>

**Expected behavior**
All `fx` command are successfully executed.

**Desktop:**
 - OS: Ubun

[2022-03-25 10:07] itrushkin opened #396 "Device parameter is not processed in TensorFlow tutorials"
**Bug description**
Interactive API Task Interface provides users with `device` parameter, but we do not use it in TensorFlow tutorials.

**To Reproduce**
Prerequisites:
Both types of CPU and CUDA devices working for your version of TensorFlow.
You can check this condition with: `tf.config.get_physical_devices()`.
Steps to reproduce the behavior:
1. Open any TensorFlow Interactive API tutorial (e.

[2022-03-25 11:26] #394 closed, assigned to itrushkin

[2022-03-25 11:57] omnia487 opened #398 "tf_2dunet Exception"
trying to initialize the tf_2dunet plan but I cant
Exception : need at least one array to concatenate
![156519762-74d24fc0-752d-499b-b402-31c2e318bcd2](https://user-images.githubusercontent.com/89255896/160116555-86ae7ea3-0bb8-4da9-acac-aeefeb65ea89.png)

[2022-03-25 12:23] igor-davidyuk commented on #298
You should use the assigned device in your task

[2022-03-25 12:36] alexey-gruzdev opened #399 "Tasks device assignment via Task Assigner entity"
Currently there is not enough flexibility of Device Assignment for Tasks in cases when we wanted to assign different types of devices for tasks in a single round.

Examples:
* `train` task goes on GPU, `validation` task goes on CPU;

* `train` or `val` tasks require more than a single device (like 2 GPUs per task);

**Describe the solution you'd like**
The solution should be implemented via `Task

[2022-03-25 12:38] alexey-gruzdev commented on #298
After internal discussion, we close this due to creation of more general problem statement in https://github.com/intel/openfl/issues/399.

[2022-03-25 12:38] #298 closed, assigned to mansishr

[2022-03-25 13:03] itrushkin commented on #398
Hey @omnia487. Thank you for your interest in OpenFL!

Your question looks like a duplicate of #366.

You can do it via executing:

[2022-03-26 08:15] omnyaatef22 commented on #398
![1](https://user-images.githubusercontent.com/98268106/160230985-43edca1a-9711-496c-b6bc-dab44ce667ec.PNG)
![2](https://user-images.githubusercontent.com/98268106/160230987-d0c07503-09cb-446f-99c0-39028c889c54.PNG)
![3](https://user-images.githubusercontent.com/98268106/160230988-15f05e22-7def-421d-94c1-222782bff4d7.PNG)
![4](https://user-images.githubusercontent.com/98268106/160230990-20adb115-4

[2022-03-26 17:06] bafatah opened #401 "OpenFL installation issue(macOS Monterey )"
Hello,
I use Python 3.8.13 on macOS Monterey, after creating a virtual environment and running this command :

I got this error:

error: legacy-install-failure
 × Encountered error while trying to install package.
 ╰─> grpcio
 note: This is an issue with the package mentioned above, not pip.
  hint: See above for output from the failure.

Any help on how to solve it ?

[2022-03-27 07:12] bafatah commented on #401
This following command in the terminal fix my problem :

`export GRPC_PYTHON_BUILD_SYSTEM_OPENSSL=1`
`export GRPC_PYTHON_BUILD_SYSTEM_ZLIB=1`

Then install this package:

`pip install grpcio`

[2022-03-27 07:12] #401 closed, assigned to nobody

[2022-04-05 11:43] #316 closed, assigned to mansishr

[2022-04-06 18:42] PanyiDong opened #406 "Positional Argument Error in Tutorials"
## Describe the bug

When I try to run the tutorial jupyter notebook `Federated_FedProx_PyTorch_MNIST_Tutorial.ipynb`, error of positional argument will occur when running the experiment:

[code]

## To Reproduce

Steps to reproduce the behavior:
1. Run the `Federated_FedProx_PyTorch_MNIST_Tutorial.ipynb`  (https://github.com/intel/openfl/blob/develop/openfl-tutorials/Federated_PyTorch_TinyImageNe

[2022-04-06 20:33] mansishr commented on #406
Hi @PanyiDong! Thanks for using OpenFL and bringing the issue to our attention. While we resolve it, we would encourage you to use the [Director-Envoy based interactive API flow](https://openfl.readthedocs.io/en/latest/running_the_federation.html#director-based-workflow) for the [TinyImageNet tutorial](https://github.com/intel/openfl/tree/develop/openfl-tutorials/interactive_api/PyTorch_TinyImageN

[2022-04-06 23:02] #406 closed, assigned to mansishr

[2022-04-07 15:11] CasellaJr opened #408 "FedCurv: ./start_director.sh: line 4: 10782 Killed fx director start --disable-tls -c director_config.yaml"
When I run my own experiment with the default FedAVG I can run several rounds, even if I can not use a big networks because otherwise I go out of memory, but this is another problem.
When I apply the FedCurv algorithm, my director node goes out memory and outputs this error: `./start_director.sh: line 4: 10782 Killed                  fx director start --disable-tls -c director_config.yaml`
Using `

[2022-04-25 13:28] mansishr commented on #408
Hi @CasellaJr, since this issue has been addressed on the slack channel, could you let us know if the issue got resolved?

[2022-04-25 13:31] CasellaJr commented on #408
Yes sure. I solved using 64gb of RAM for my director. Now it works, however I suggest you to improve the memory usage of OpenFL because I think it is a "little" bit strange to need 64GB ram (or also more) to run a resnet18/50.

[2022-04-29 16:24] ladi-pomsar opened #422 "BatchNormalization layer fails to deserialize when working with Tensorflow"
**Describe the bug**
When testing Tensorflow with more complex model, BatchNormalization layer fails to deserialize with error:
[code]

**To Reproduce**
Easiest way to reproduce is to edit the TF_MNIST example, steps are:
1. Change shape to '28, 28, 1' in mnist_shard_descriptor.py and delete the reshaping to 784 from download_data
2. Change shape in director config
3. Change network code to someth

[2022-05-04 16:50] #356 closed, assigned to alexey-khorkin

[2022-05-05 15:05] psfoley opened #425 "JAX Support"
Add support for [JAX](https://github.com/google/jax) in Task Runner and provide example through Interactive API

[2022-05-05 19:04] mansishr commented on #422
Hi @ladi-pomsar, I reproduced the error with Tensorflow version 2.8. However, the issue is not seen for TF version 2.7 or lower. Could you run TF on 2.7?

[2022-05-06 09:34] MasterSkepticista commented on #422
@mansishr

Here's what I suspect is happening:
`tensorflow==2.8` is being installed in the notebook, which leads to instantiation of the `model` object (and subsequently `tf.keras.layers`) using this newer TF. But by the time serialization is reached, the envoy has already reverted to `tensorflow==2.7` by virtue of workspace and `requirements.txt` creation.

This mismatch of objects created betwee

[2022-05-11 09:33] yanivbi opened #427 "Support configuration of compression_pipeline by Director-Based Workflow"
I'm trying to deploy and compare the different compression pipelines supported by the project.
But, as it seems, the configuration of the compression_pipline is not supported by the director-based workflow.

[2022-05-11 12:30] HoHoHUB commented on #313
@CasellaJr I also got the problem. I have found that when the Milvus out of memory , the OS will kill this process.

[2022-05-11 17:20] mansishr commented on #422
Thanks @MasterSkepticista for looking into it. I confirmed that `tensorflow==2.8` was indeed setup at the envoy side as well. I believe the issue is with this particular version of Tensorflow, not with OpenFL. A simple solution right now is to downgrade the TF version

[2022-05-11 19:40] mansishr commented on #427
Hi @yanivbi , thanks for using OpenFL! By default, the director based workflow is using no compression but a small fix could alter the plan settings to pickup the compression pipeline of your choice.

[2022-05-13 06:27] MasterSkepticista commented on #422
@mansishr
Disabling `__reduce__` override on `tf.keras.Model` gets the experiment with `BatchNormalization` working on both TF2.7 and TF2.8
https://github.com/intel/openfl/blob/f4b28d710e2be31cdfa7487fdb4e8cb3a1387a5f/openfl/plugins/frameworks_adapters/keras_adapter.py#L45

`tf.keras.Model` supports pickle natively with the newer releases, which eliminates the need for the hotfix function we've ad

[2022-05-13 06:35] Ram-srini opened #428 "Support for containerized deployment of Director/aggregator based workflows"
**Is your feature request related to a problem? Please describe.**
While installing and setting up components like director, aggregator, envoy, etc there are manual steps involved and tedious to do.
With the support of containerized deployment of director/aggregator based workflows to make easy to deploy, maintain, and scale.

**Describe the solution you'd like**
Containerizing all the components

[2022-05-13 14:40] psfoley opened #429 "Create example for tf.data with the ShardDescriptor interface"

[2022-05-19 13:10] ladi-pomsar commented on #422
Hi @mansishr it is indeed true that we weren't able to reproduce it with lower versions.

Thank you @MasterSkepticista for looking into that.

[2022-05-24 16:19] #422 closed, assigned to mansishr

[2022-06-02 12:14] MasterSkepticista commented on #429
Linking PR #440.
@ladi-pomsar Could you please check this `tf.data` example, if it fits your requirement?

[2022-06-10 13:09] ladi-pomsar commented on #429
Hi @MasterSkepticista, looks good to me, there is just a single comment from me.

[2022-06-10 13:21] ladi-pomsar commented on #428
This may also spark another debate - At the moment, the experiments are executed via .ipynb. I don't think that is a way that could actually ever be used in production. I rewrote the .ipynb to python script, that can be executed, however this has several caveats in a cloud deployment, such as when and how to execute the script, what really leads me:

Are you thinking about deploying some kind of m

[2022-06-19 15:50] lesliewubbel opened #444 "This doesn't work on windows does it?"
**Describe the bug**

run code on windows 11

A clear and concise description of what the bug is.

We are installing openFL on windows

[code]

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

**To Reproduce**
Steps to reproduce the behavior:
1. cd 'C:\CodeRepos\FETS-AI\Challenge\Task_1\openfl
2.  pip install .
3. See error

 UnicodeDecodeError: 'char

[2022-06-19 16:14] lesliewubbel commented on #444
Ok so I got it to install on windows

by changing setup.py

from

[code]

to
`
with open('README.md', encoding='utf-8') as f:
    long_description = f.read()
`

there is a better way to fix this by detecting OS then if else the open functions

This doesn't mean openfl will work on windows as intended.

[2022-06-20 12:12] MasterSkepticista commented on #444
@Gresliebear Thanks for finding a hidden little insect!
Your fix might work across OSes, without needing conditionals. Could you please link a PR with the fix?

[2022-06-20 15:58] lesliewubbel commented on #444
@MasterSkepticista Sure no problem, after work in a few hours I gotta install and break it again to confirm.

[2022-06-21 02:52] lesliewubbel commented on #444
`pip install openfl` doesn't install off the bat we have to cd into openfl and `pip install .`

![image](https://user-images.githubusercontent.com/13157730/174702542-7f38124c-96fd-49e7-84df-d13b430efd6a.png)

[2022-06-21 03:01] lesliewubbel commented on #444
@MasterSkepticista
https://github.com/intel/openfl/pull/445 heres the PR

[2022-06-21 06:23] MasterSkepticista commented on #425
PR #443

[2022-06-22 07:25] vivektalwar689 commented on #352
md5 works fine from the security standpoint considering current federated learning settings.

[2022-06-24 08:34] CasellaJr commented on #175
News about this? @psfoley @mansishr

[2022-06-27 21:43] #429 closed, assigned to MasterSkepticista

[2022-06-30 08:07] #444 closed, assigned to nobody

[2022-06-30 08:07] #425 closed, assigned to sun1lach

[2022-06-30 22:31] mansishr opened #448 "Support for parallel experiments in Director Envoy API"
The Director Envoy flow should be able to run multiple experiments in parallel under one federation.

[2022-06-30 23:15] psfoley opened #449 "Interactive API Example: Flax"
Building off of the recent JAX linear regression example (https://github.com/intel/openfl/pull/443), it would be good to demonstrate a NN example, but with a higher level framework such as Flax (https://github.com/google/flax)

[2022-07-01 05:24] MasterSkepticista opened #450 "Tutorials/Examples under a different namespace"
To ensure velocity of changes/features in mainline, updating examples in parallel to comply with the release would consume time.

Suggestion is to transition tutorials/examples under `openfl-examples` repository, which has its release tags tied to the last tested working version of OpenFL even if the `develop` branch treads ahead to address priority features that may break some examples.

[2022-07-01 05:28] MasterSkepticista commented on #450
@psfoley @mansishr @shreyasnc1 @igor-davidyuk @acharyasunil

[2022-07-01 13:12] sky712345678 opened #451 "Can’t use custom loss or metrics in Director-Based workflow"
**Describe the bug**
Can’t use custom loss or metrics to train a model with `tf.keras.Model` APIs in Director-Based workflow.

Configurations:
- OpenFL workflow: Director-Based
- Model to train: 3D U-Net
- Loss function: dice loss
- Metric: dice coefficient

I was training 3D U-Net with OpenFL. The loss function I used is dice loss.
To improve the training performance on Intel Xeon CPUs, I compile

[2022-07-02 05:08] MasterSkepticista commented on #451
@sky712345678 This looks like a serialization issue.

Tensorflow 2.7 had issues supporting native serialization and requiring overrides on `__reduce__`. This was fixed in later Tensorflow releases https://github.com/keras-team/keras/pull/14748.

Can you quickly check if you see the same issue with Tensorflow 2.8 (with default adapter)? That will help us narrow down the issue.

[2022-07-05 06:36] sky712345678 commented on #451
Hi @MasterSkepticista ,
After switching to TensorFlow 2.8 (or 2.9) with default adapter, I got the same issue in https://github.com/intel/openfl/issues/422. The collaborator failed with BatchNormalization layer.
[code]
Not sure whether custom loss functions or metrics are deserialized correctly.

[2022-07-06 17:54] psfoley opened #454 "Can't reconnect to federation if connection lost during data transfer from aggregator -> collaborator"
A user has reported that if the network connection is lost during the GetAggregatedTensor RPC call from a collaborator to the aggregator, the collaborator cannot successfully reconnect after the outage. This task involves verifying the reported issue, making a change to the collaborator code to detect this and retry the call after the connection is reestablished.

[2022-07-06 17:55] psfoley opened #455 "Can't reconnect to federation if connection lost during data transfer from collaborator -> aggregator"
A user has reported that if the network connection is lost during the SendLocalTaskResults RPC call from a collaborator to the aggregator, the collaborator cannot successfully reconnect after the outage. This task involves verifying the reported issue, making a change to the collaborator code to detect this and retry the call after the connection is reestablished.

[2022-07-06 18:43] psfoley opened #456 "Silent failures resulting from OOM errors"
Some users have reported silent failures during training / validation likely resulting from out-of-memory errors. The failure in a low memory environment can be reproduced as follows:

[code]

Proposed solution:
- Catch [`MemoryError` exception](https://docs.python.org/2/library/exceptions.html#exceptions.MemoryError) in the Collaborator's `do_task` method at the [user-defined function invocation]

[2022-07-13 23:45] mansishr commented on #451
Hi @sky712345678, I was able to reproduce the error. I bumped the TF version to 2.8 and instead got this error:

[code]

For TF version 2.8 or above, `serialization_setup()` isn't called, so that's not the issue. The issue is that if custom objects are serialized, they need to be defined during deserialization/loading the model.  When you define custom loss as a part of the model, then during dese

[2022-07-17 17:19] sky712345678 commented on #451
Hi @mansishr ,
I forgot to mention, I also got the same `_tf_keras_metric` error with TensorFlow 2.8. It is because that I used custom metric `dice_coef` for the training.
Unset the argument `metrics` in `model.compile()` and the error of `_tf_keras_metric` should disappear.

I've tested the **hacky way** with 1 aggregator and 1 collaborator (run with 2 terminals). Putting `model.compile()` inside

[2022-07-22 03:24] sun1lach commented on #456
@psfoley

The collaborators `do_task` method doesn't capture the OOM error as the program terminates abruptly when the SIGKILL is triggered by the OS. Neither python `MemoryError` nor generic`Exception` catches this fatal error.

The `fx envoy` command terminates without propagating the exception/error levels higher.
The OOM error is captured in the kernel trace though but not at the user program

[2022-07-25 17:52] psfoley commented on #456
@acharyasunil - thanks for the investigation on this. Seems like there probably is not a good way to provide additional information in our error message because it's a SIGKILL signal. I agree with updating the PyTorch version on those examples where it's possible.

In addition to the PyTorch version change, please add a note to the [OpenFL Troubleshooting documentation](https://openfl.readthedocs.

[2022-07-26 07:43] sun1lach commented on #456
PR #461 - Updated Documentation.

I will raise another PR in a while with the regression done on updated PyTorch version.

[2022-07-26 15:42] sun1lach commented on #456
@psfoley
PR #463 added relevant package versions in README.md that addresses this OOM issue.

[2022-07-27 21:59] #427 closed, assigned to mansishr

[2022-07-27 23:14] #456 closed, assigned to sun1lach

[2022-07-29 04:45] psfoley opened #466 "Sporadically Hanging Interactive API CI Test"
The pytorch kvasir unet CI test has been triggering a CI timeout sporadically in the middle of training:

https://github.com/intel/openfl/runs/7525106079?check_suite_focus=true
https://github.com/intel/openfl/runs/7524916214?check_suite_focus=true
https://github.com/intel/openfl/runs/7510403486?check_suite_focus=true

![image](https://user-images.githubusercontent.com/3803396/181684392-fed9f42a-ff

[2022-08-11 15:47] sun1lach commented on #449
#482 Linked PR

[2022-08-12 21:55] #454 closed, assigned to mansishr

[2022-08-19 17:45] mkurisoo commented on #450
I agree, tags on the tutorials of the last tested working version of OpenFL seems like a good idea.

[2022-08-23 21:11] Einse57 opened #487 "Mistune version brought in by JupyterLab and nbconvert has CVE against it"
The version of Mistune being used by JupyterLab and nbconvert has an active CVE against it https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2022-34749.

nbconvert recently updated to mistune 2.0.2 but the fix is in 2.0.3. It looks like they plan to migrate to mistune 3.0+ https://github.com/jupyter/nbconvert/pull/1820

JupyterLab is using the latest version of nbconvert. https://github.com/jupyt

[2022-08-24 17:33] CasellaJr opened #490 "Assert subkey == 'step'"
Hello. I have this error below when using SGD as optimizer. With Adam it work correctly.
[code]
Basically in this setting it work, but if I comment Adam and uncomment SGD then I have this error:
[code]

[2022-08-25 18:19] psfoley commented on #131
Closed via https://github.com/intel/openfl/pull/417

[2022-08-26 04:00] marmitar commented on #487
The newest release from nbconvert, version 7.0.0, is using mistune 2.0.3 (see the [pyproject.toml](https://github.com/jupyter/nbconvert/blob/7.0.0/pyproject.toml#L32)), but mistune 2.0.4 also works.

[2022-08-26 18:30] CasellaJr opened #492 "UnboundLocalError: local variable 'request' referenced before assignment"
For my experiments on CIFAR-10, until now I have used ResNet-18 or an  EfficientNet. In the jupyter notebook, I initialise these models in this way:
[code]
Then they works without problems, also even if I change normalization layers, number of classes and so on, no problem. The problem is when I use a different model, like a VGG16: `vgg16 = torchvision.models.vgg16(pretrained=False)` then I have t

[2022-08-29 07:58] igor-davidyuk commented on #492
Let me try it myself

[2022-08-29 10:11] igor-davidyuk commented on #492
I can confirm this. @CasellaJr could you please report if the error is also shown on the front end (in your interactive environment)

[2022-08-29 10:19] CasellaJr commented on #492
The error is shown on the terminal (used to start director and envoys). In the jupyter notebook I remember that the cells stop in `fl_experiment.start(...)`

[2022-08-29 10:20] igor-davidyuk commented on #492
I imagine, but what was the error?

[2022-08-29 10:27] CasellaJr commented on #492
No error in the notebook, just the cell stops running, but there is no error

[2022-08-30 13:38] gagandeep987123 opened #496 "executor failed running [/bin/bash -o pipefail -c fx workspace import --archive /workspace.zip]: exit code: 1"
**Describe the bug**
Attemptin to run the openfl-gramine example. I am getting a error at point 4 "Build the Experiment Docker image"

**To Reproduce**
following the steps mentioned in the openfl-gramine/MANUAL. Also attaching the terminal logs for more reference.
[output.zip](https://github.com/intel/openfl/files/9453288/output.zip)

Can you please help?

[2022-08-30 13:39] igor-davidyuk commented on #492
Investigation showed that the model is just too big for client to transfer, it will be fixed, for now just try using models with layers under 512 Mb

[2022-08-30 14:00] CasellaJr commented on #492
Yes, I have seen your PR. If that works, I can modify my python scripts as yours.

[2022-08-30 14:03] igor-davidyuk commented on #496
It is hard to tell, never saw this before.
Try this: create a clean virtual env, install openfl, and run [this script](https://github.com/intel/openfl/blob/develop/tests/github/test_graminize.sh).
See if it goes ok.

[2022-08-30 15:08] gagandeep987123 commented on #496
Just to add on while installing Openfl I am also getting this error
[code]
I had resolved this earlier by downgrading protobuf using ```pip install protobuf==3.20.1```

[2022-08-30 15:14] gagandeep987123 commented on #496
still getting the errror.
[output.zip](https://github.com/intel/openfl/files/9454113/output.zip)

[2022-08-31 12:02] igor-davidyuk commented on #496
I can not reproduce this. When I run this script image is built successfully for me, probably the reason for this is in your set up.

[2022-08-31 12:42] gagandeep987123 commented on #496
Are you getting this error while installing openfl? I installed a lower version there

[2022-08-31 12:47] igor-davidyuk commented on #496
No, I do not see these messages. Are you sure you run `pip install openfl` in a clean environment?

[2022-08-31 12:56] gagandeep987123 commented on #496
No, I am using it in a virtual environment

[2022-08-31 13:55] gagandeep987123 commented on #496
The error is persistent in other machines also. I tried installing openfl in newly installed ubuntu 20 and in the virtual environment, the error is there.

[2022-09-01 14:34] MasterSkepticista commented on #496
@gagandeep987123 It's a good idea to check the python version (3.8 recommended) and `pip` version. Any virtual environment you create, `python -m pip install -U pip` immediately after activating your environment. Install packages after `pip` has been updated.

Can you try that and see how it goes?

Although this is taken care of in the Dockerfile, from the logs it seems to be a protobuf issue. I'l

[2022-09-07 11:25] aarushisoni commented on #396
Hi my name is Aarushi Soni . I want to contribute to this issue . Is this issue still open ? I am first time contributor . Please guide me through this process.

[2022-09-07 11:27] aarushisoni commented on #448
Hi my name is Aarushi Soni . I want to contribute to this issue . Is this issue still open ? I am first time contributor . Please let me know more about this issue

[2022-09-08 11:46] DL8 opened #501 "Allow setting ISV product ID and SVN in the manifest in OpenFL Gramine build"
**Is your feature request related to a problem? Please describe.**
Enclave developers are expected to define the following fields for each enclave they maintain:
1. `isvprodid` - used as a persistent high level identifier of the enclave. It is expected to remain constant per enclave (unlike `mrenclave`, which may change with each build)
2. `isvsvn` - security version of the enclave. It is expected

[2022-09-09 18:46] mansishr commented on #448
Hi @aarushisoni thanks for your interest in OpenFL and your willingness to contribute to the issue! While we would love to see you contribute, this particular issue is already being handled by one of the team members currently. We'll be updating the issue status more frequently from now on. Would you be open to contribute to other issues?

[2022-09-13 14:07] gagandeep987123 opened #503 "Problem with Openfl Gramine "error: PAL failed at ../../Pal/src/db_main.c:pal_main:513 (exitcode = 4, reason=No 'loader.entrypoint' is specified in the manifest)""
**Describe the bug**
I am attempting to run the example of FL as given in [manual](https://github.com/intel/openfl/blob/develop/openfl-gramine/MANUAL.md) and getting this error on the aggregator.
[code]
Also, step 7 in the [manual](https://github.com/intel/openfl/blob/develop/openfl-gramine/MANUAL.md) is presented in a bit vague manner for a first-time user.
I used the setup given [here](https://o

[2022-09-15 08:12] igor-davidyuk commented on #503
Hey! Thanks for reporting this. This issue was addressed and I believe it shouldn't be there with the next OpenFL release.
For now, you can try installing openfl from the develop branch:
`git clone https://github.com/intel/openfl.git && cd openfl && pip install -e .`
But you will need to rebuild your docker images, you could remove the old ones, or just pass `--rebuild` to the `graminize` command

[2022-09-15 08:16] igor-davidyuk commented on #503
I agree with your note regarding step 7 in the [manual](https://github.com/intel/openfl/blob/develop/openfl-gramine/MANUAL.md), but it would be also a wrong place to explain the certification process.
To make your life easier try using automatically generated certificates from [this script](https://github.com/intel/openfl/blob/develop/tests/github/test_graminize.sh), as the manual suggests.

[2022-09-15 08:28] igor-davidyuk commented on #496
Did you manage to resolve this issue?

[2022-09-15 09:38] gagandeep987123 commented on #496
Yes, Thank you

[2022-09-15 09:38] #496 closed, assigned to nobody

[2022-09-15 12:47] gagandeep987123 commented on #503
I tried using with the latest build "openfl 1.4" but got a new error. For running openfl-gramine I had to install openfl1.4 in the docker image as well, for which I had to change the file "*venv/lib/python3.8/site-packages/openfl-gramine/Dockerfile.gramine" but there after I got a new error
[code]
I have tried it for multiple temples and the error is persistent there also.

[2022-09-16 21:39] mansishr commented on #503
Hi @gagandeep987123, could you specify the command which lead to the error above? Just looking through the error, looks like either you don't have root permissions or there is no space left on device (df -kh .)

[2022-09-19 09:25] gagandeep987123 commented on #503
Hi @mansishr
I am using a modified script of test_graminize.sh (please change .pdf with .sh)
[test_graminize.pdf](https://github.com/intel/openfl/files/9597574/test_graminize.pdf)
[code]
Also I made another changes to the "*venv/lib/python3.8/site-packages/openfl-gramine/Dockerfile.gramine"
[code]
 I am using the latest release from GitHub for openfl installation.

Also attaching the output from r

[2022-09-19 10:08] igor-davidyuk opened #505 "Example fails: Dataset hash needs correction"
I faced errors running `torch_unet_kvasir` and `torch_unet_kvasir_gramine_ready` examples. The message is attached
[error.log](https://github.com/intel/openfl/files/9597992/error.log)

[2022-09-19 11:20] igor-davidyuk commented on #503
I also got this. It looks like Tensorflow tries to create a temporary directory somewhere inside an enclave which is not a good idea in the first place.
What makes, it strange the gramine manifest allows to use `/tmp` just for this purpose and we still see this error.

[2022-09-19 17:00] mansishr commented on #503
In order for TF to create a directory at runtime inside an enclave, we would need to mount that directory from the host area to the enclave, [something like this](https://github.com/gramineproject/examples/blob/master/pytorch/pytorch.manifest.template#L26). For the syntax that we currently support with OpenFL, the lines below can be added to the manifest [here](https://github.com/intel/openfl/blob

[2022-09-20 12:11] igor-davidyuk commented on #503
It is strange we need to mount the temp folder and not just allow using it inside an enclave. I am positive it worked before 😅😅

[2022-09-20 13:02] gagandeep987123 commented on #503
So I made the following changes
1. In test_graminize.sh I added a line ```mkdir tmpfs``` in ${FED_DIRECTORY} and then added an option in docker run ```--volume=${FED_DIRECTORY}/tmpfs:/tmp \```
2. Added the lines to openfl.manifest.template file.

But I am still getting the same error.
Is it working for you @igor-davidyuk ? or Am I missing something?

[2022-09-20 13:10] igor-davidyuk commented on #503
It should be done in a different way. We need to add that mounting line to the gramine manifest template.
Then we should keep in mind that the enclave is built withing a docker image, so we need that updated manifest in docker image. Thus we should not install openfl from pip in docker base image, but copy the local repository and install from source.

Will try to do this in a separate branch. Yet

[2022-09-20 14:58] igor-davidyuk commented on #503
Try this branch, worked for me!
https://github.com/igor-davidyuk/openfl/tree/manifest-gramine-update

[2022-09-20 15:30] mansishr commented on #503
Thanks for a working branch @igor-davidyuk. Ideally, it is unsafe to even allow /tmp directory, but since we are putting that as an allowed file in the manifest for this example, it should be okay to mount it as well. We should definitely consult the Gramine team as well.

[2022-09-21 11:21] gagandeep987123 commented on #503
yes it is not stopping at that step 😄  but stopping a bit further. As of now after using the new branch, aggregator starts but the example it self is giving a error.
[code]
The above error is happening in loop.
I am currently using ```TEMPLATE=${3:- 'torch_cnn_histology_gramine_ready'} ``` in test_graminize.sh.
Also, when I use "torch_unet_kvasir_gramine_ready", I am getting below error:
[code]

[2022-09-22 14:52] mansishr commented on #503
Hi @gagandeep987123, can you try out the example with "torch_unet_kvasir_gramine_ready"? We are aware of the issue of the hash not being valid (came pretty recently). We'll resolve this soon, but in the meantime, please comment out [this line](https://github.com/intel/openfl/blob/develop/openfl-workspace/torch_unet_kvasir_gramine_ready/src/data_loader.py#L104) and proceed.

Regarding the multiproc

[2022-09-22 14:57] CasellaJr opened #506 "FedProx - PyTorch in interactive API"
According to the documentation, in order to run FedProx in PyTorch we need to replace the optimizer with SGD-based [:class:`openfl.utilities.optimizers.torch.FedProxOptimizer`](https://github.com/intel/openfl/blob/e5b80e0a998f078bbac39efa2c5abea986df31a9/docs/supported_aggregation_algorithms.rst#id1) or Adam-based [:class:`openfl.utilities.optimizers.torch.FedProxAdam`](https://github.com/intel/op

[2022-09-23 11:05] gagandeep987123 commented on #503
Hi @mansishr, getting same error ```multiprocessing``` while running "torch_unet_kvasir_gramine_ready"

[2022-09-27 15:39] sun1lach opened #509 "Timing Federation Components"
As a federation admin I'd like to be able configure time limits on different federation aspects i.e. provisioning time and serializing the workflow/ time removing different envoys

[2022-09-27 16:15] sun1lach opened #510 "Timing Federation Components"
Configure time limits on different federation aspects i.e. provisioning time and serializing the workflow/ time removing different envoys

[2022-09-27 16:16] #509 closed, assigned to sun1lach

[2022-09-27 20:40] psfoley opened #511 "Improve resilience of director / envoy"
The director / envoy infrastructure should be able to handle:
- envoy going offline and reregistering with the director
- A loss of network connectivity at different stages of execution, including:
    - Idle (Envoy registered with director, but no experiment in progress)
    - Experiment submitted to director, workspace has not been distributed to Envoy
    - Workload distributed to Envoy, experi

[2022-09-27 20:48] psfoley opened #512 "Documentation: Recommended hardware for workloads"
Customers have expressed a desire for a minimum acceptable hardware configuration for various workloads.

This task involves:
- Starting with 3 OpenFL tutorials (pytorch, tensorflow, jax), Profile how long it takes to run them and make a recommendation for the minimum hardware that should be used (i.e. high core CPU, GPU, memory, etc.). This list should be expanded over time (not as part of this t

[2022-09-27 20:50] psfoley opened #513 "Documentation: Minimum network bandwidth recommendation"
Document minimum network bandwidth for Aggregator / Collaborator, Director / Envoy experiments

Closure of this task involves:
- Profiling existing tutorials (Aggregator/Collaborator, Director/Envoy) to understand minimum bandwidth required
- Document this information in our official [readthedocs](https://openfl.readthedocs.io/en/latest/openfl.html)

[2022-09-28 14:13] igor-davidyuk opened #515 "Interactive API tutorial in Google Colab fails"
It goes OK until I call `start_experiment` RPC, which fails silently. After that, the `stream_metrics` RPC just hangs forever.

[2022-09-28 18:01] mansishr commented on #503
Hi @gagandeep987123, sorry for a late response. Multiprocessing is getting triggered through the use of tensorboard's summary writer. Please disable `write_logs `in [plan setting](https://github.com/intel/openfl/blob/develop/openfl-workspace/torch_cnn_histology_gramine_ready/plan/plan.yaml#L11):

[code]

[2022-09-29 12:17] gagandeep987123 commented on #503
@mansishr Is it working for you because I am still getting the error. I just changed the file as you suggested via a change in Dockerfile.gramine

[2022-09-30 19:12] mansishr opened #518 "CI fails on FeTS Challenge TaskRunner Test"
[Test fails](https://github.com/intel/openfl/actions/runs/3147156505/jobs/5116928816) due to conflicts while installing packages of different versions

The conflict is caused by:
    The user requested torch==1.11.0
    timm 0.4.12 depends on torch>=1.4
    torchaudio 0.8.2 depends on torch==1.8.2

[2022-09-30 19:20] mansishr opened #519 "Documentation: Tensorboard visualization"
Documentation on the usage of Tensorboard and metric visualization could be improved.

[2022-09-30 22:20] #505 closed, assigned to igor-davidyuk

[2022-09-30 22:51] mansishr commented on #518
Fixed by #517

[2022-09-30 22:51] #518 closed, assigned to mansishr

[2022-10-02 07:12] mkirnaso opened #521 "Documentation needed - how to integrate a new code into OpenFL"
There is no clear manual on how to integrate a new ML code into OpenFL. Until now I have been trying to modify existing example such as PyTorch_MNIST and put my code in it instead, but this is not the "correct" way to do it. On the other hand there is no concrete documentation on how to do it properly.

[2022-10-02 09:55] DL8 opened #522 "Setup fails with Python>3.8"
**Describe the bug**
OpenFL installation fails with Python >3.8. I tried with Python 3.10 on a Debian 11-based image

**To Reproduce**
1. Clone repository
2. Go to repository directory
3. Try to install:
```pip install .```

**Expected behavior**
OpenFL installs

**Screenshots**
![image](https://user-images.githubusercontent.com/3604408/193448338-e116aaf9-9f08-433f-85db-c108bc0d3e80.png)

[2022-10-02 12:52] igor-davidyuk commented on #515
Investigation revealed the following:
- Local Jupyter Lab runs the example without any issue.
- Google Colab environment prevents changing the logging level for some reason. OpenFL logging settings do not work in Colab, making debugging harder: `INFO` messages are not displayed. Setting logging basicConfig explicitly does not work either.
- OpenFL actors running in the background also experience p

[2022-10-03 04:22] psfoley commented on #515
@igor-davidyuk This was something we also encountered creating the examples for the MICCAI tutorial. The logging level in Google Colab is set to `WARNING` by default. This is not a fix, but for debugging purposes you can set the logger root level to `INFO` in `cli.py` and you should at least get some meaningful output that way: https://github.com/intel/openfl/blob/45581202f2b479812ff102d75da26a830

[2022-10-03 09:59] CasellaJr opened #523 "Reducing the quantity of RAM used by director"
I have tested different configurations of director/envoy. In particular, I am doing experiments with 2/4/8/10 envoys. I noted that when increasing the number of envoys connected to the director, the ram used (by director) increases exponentially. Basically, when using 2 or 4 envoys the ram used by director is fixed after some rounds and then does not increase, while when using 8 or 10 envoys, ram

[2022-10-03 17:20] igor-davidyuk commented on #515
I couldn't google this solution for changing the log level 😂, thank you!
It worked for the Python API logs, but the Director remained silent

[2022-10-03 19:11] mansishr commented on #503
Hi @gagandeep987123, could you attach files where you have made the changes? Also, you would need to run through all the steps again and rebuild the image after any changes to the plan.

[2022-10-04 18:24] psfoley opened #525 "Windows Support"
Several customers / users have requested Windows support in OpenFL. While this has been unofficially supported for some time (at least OpenFL 1.2), we should make this a part of our standard CI pipeline, make clear which OpenFL interfaces and DL frameworks are supported today, and which features have a hard dependence on Linux (i.e. Gramine)

[2022-10-10 03:19] sun1lach commented on #522
@DL8
This looks familiar.

I would suggest below steps
1. Use virtual environment.
2. remove existing ` setuptools` using pip and install this specific version `pip install setuptools==44.0.0`.

[Optional] If the base distutil package is corrupted/outdated, try reinstall using `sudo apt-get install python3-distutils`

[2022-10-10 11:38] sun1lach opened #529 "Bandwidth Analysis & Performance Profiling."
Understanding implications of common configurations and it's effect on performance.
Documentation and Performance Profiling.

[2022-10-10 16:16] mansishr commented on #521
Hi @mkirnaso, welcome to OpenFL! I understand that you would like to integrate your ML model/data into OpenFL. The easiest way is to utilize our [tutorials](https://github.com/intel/openfl/tree/develop/openfl-tutorials/interactive_api) that showcase python interactive API/Director-Envoy based flow or [workspace templates](https://github.com/intel/openfl/tree/develop/openfl-workspace) that utilize

[2022-10-10 22:27] psfoley commented on #523
Thanks for reporting this @CasellaJr! Just added this to our backlog.

A couple clarifying questions:
- Are the director and envoys on different nodes? A single node can be problematic for very large models
- I would expect a linear increase due to collaborator tensors stored in the TensorDB. Have you adjusted the `aggregator.settings.db_store_rounds` parameter? Setting this to `1` (i.e. saving on

[2022-10-10 23:54] psfoley commented on #522
@DL8 Thanks for reporting this. That particular error was due to a version of grpcio that is unsupported in python 3.10 that we had pinned. I have a PR open now that aims to adds official support for more [recent python versions](https://github.com/intel/openfl/pull/532)

[2022-10-11 07:35] CasellaJr commented on #523
Hello Patrick @psfoley

- Sure, I always use different nodes to run experiments.
- I did not change that parameter, `aggregator.settings.db_store_rounds`, I think It is equal to the default value. I am going to check what is.

[2022-10-11 09:28] aarushisoni commented on #448
Hii yes I would like to contribute to other issues
Please let me know if there are any issues related to cloud computing
Waiting for your reply
Thanks & Regards

ASoni

On Sat, Sep 10, 2022, 00:16 mansishr ***@***.***> wrote:

[2022-10-11 16:40] vivektalwar13071999 commented on #354
A friendly UI with certain tips n tricks to get started will definitely help the academic use-cases.

[2022-10-11 19:45] igor-davidyuk commented on #515
That is so strange, I am sure I left a comment here but now it is gone. Anyway, the update:
1. I tried to change the logging level in several places inside Director and Aggregator actors code, had no effect, the director still writes no logs.
2. I tested the original branch in Colab that worked back then, and the experiment also got stuck in the same place, so some change in the Colab environment

[2022-10-11 21:49] psfoley commented on #522
Fixed with https://github.com/intel/openfl/pull/532

[2022-10-11 21:49] #522 closed, assigned to psfoley

[2022-10-13 12:03] vivektalwar13071999 commented on #512
I have read the CLA Document and I hereby sign the CLA

[2022-10-13 12:27] adityarastogi2k12 commented on #97
Hi @saransh09 , did you find a solution to this problem?

[2022-10-13 15:18] #501 closed, assigned to igor-davidyuk

[2022-10-19 08:27] igor-davidyuk commented on #515
Next update: I tried to run the Miccai tutorial and that one works.
I believe [this fix](https://github.com/intel/openfl/blob/6637146ca08e11ff553bca27786acc684faf4f1c/openfl/component/envoy/envoy.py#L89) allows the example to run correctly in Colab, it prevents installing requirements for the experiment at the Envoy side.
It is hard to determine the exact problem as the Envoys and Director still d

[2022-10-20 04:26] MasterSkepticista commented on #515
@igor-davidyuk You seem to have created #536 recently to address the requirements issue.
As for logging, per my understanding, Colab sets an internal log-level (probably `WARN` for all scripts). This is a fairly recent change. Logging worked perfectly, weeks before the actual MICCAI tutorial.

Setting `logging.root.level = 20` works because it only applies that to the current runtime. Director/Env

[2022-10-20 14:08] igor-davidyuk commented on #515
Thank you for the clarification, Google certainly made some changes to Colab runtime so logging now is problematical.
Nevertheless, could you still create a GitHub issue and describe shortly facing the problem so we can close it in PR?

[2022-10-20 14:39] #408 closed, assigned to mansishr

[2022-10-23 15:54] DL8 opened #540 "OpenFL fails to run on Ubuntu 20.04"
**Describe the bug**

OpenFL execution (`fx` command) fails to run with exception in Ubuntu 20.04. This happens when installing OpenFL via pip in a clean virtual environment.

This seems to be worked around by installing an older version of protobuf:
`pip install 'protobuf<3.20'`

**To Reproduce**
[code]

**Expected behavior**

`fx` prints usage details

**Screenshots**
Error messages during `pip

[2022-10-24 10:22] igor-davidyuk opened #541 "Duplicate code"

[2022-10-24 11:24] #541 closed, assigned to nobody

[2022-10-25 14:49] DL8 opened #542 "torch_unet_kvasir_gramine_ready example plan initialization fails on dataset download"
**Describe the bug**

Plan initialization of torch_unet_kvasir_gramine_ready example fails due to hash mismatch of the downloaded dataset.

Data file is downloaded from the following URL: https://datasets.simula.no/downloads/hyper-kvasir/hyper-kvasir-segmented-images.zip

When changing the downloaded file name to **_hyper-kvasir-segmented-images.zip**, initialization succeeds

**To Reproduce**

[c

[2022-10-26 14:11] DL8 commented on #542
I see now that this is a duplicate of #505 , which is already fixed. Closing issue

[2022-10-26 14:11] #542 closed, assigned to nobody

[2022-10-26 15:50] mansishr commented on #448
@psfoley @igor-davidyuk Do we have a 'good first issue' that we could assign to @aarushisoni ?

[2022-10-26 16:43] mansishr commented on #503
Hi @gagandeep987123 let us know if the issue got resolved?

[2022-10-27 10:27] Maxime-Perret opened #549 "Windows support in OpenFL tutorials"
Hello,

I've posted this below as discussion but since I've just updated my post, I figured it would fit as an issue now related to supporting Windows.

### Discussed in https://github.com/intel/openfl/discussions/546

<div type='discussions-op-text'>

<sup>Originally posted by **Maxime-Perret** October 26, 2022</sup>
Hello,

I've been experimenting with OpenFL trying to run different tutorials. S

[2022-10-28 13:45] gagandeep987123 commented on #503
It is working. Thanks for the help

[2022-10-28 13:45] #503 closed, assigned to mansishr

[2022-10-31 07:53] r-kellerm opened #552 "Load a trained pbuf model into general pytorch env"
**Is your feature request related to a problem? Please describe.**
I would like to test the trained model externally, using an independent pytorch-based script that compares several models. The pbuf format is serialized differently that the regular .pth torch snapshots and can't be loaded using model.load_state_dict.

**Describe the solution you'd like**
It would be great if you can provide either

[2022-10-31 14:22] DL8 opened #554 ""fx workspace graminize" does not regard the version used to build the workspace"
**Describe the bug**

`fx workspace graminize` always uses latest version of OpenFL from Pip, regardless of version used in workspace creation. In case head of develop branch is used, version 1.4 is added to `requirements.txt` and `docker build` fails because there is no such version in Pip repository

**To Reproduce**

[code]

**Expected behavior**

Gramine-based Docker image is created based on

[2022-10-31 14:27] DL8 commented on #554
Build log file:
[build.log](https://github.com/intel/openfl/files/9901947/build.log)

[2022-10-31 16:28] psfoley commented on #552
Thanks @r-kellerm for the suggestion! This is very timely. We are in the process of adding the ability to convert the model to native format after experiment completion. This will be part of our next OpenFL 1.5 release. Feel free to check out [that branch](https://github.com/psfoley/openfl/tree/save_native_model) and use `fx model save` after you run an experiment to get unblocked in the meantime

[2022-10-31 19:30] igor-davidyuk commented on #554
Thanks for reporting this issue!
It opens several questions:
1. Should we pin the OpenFL version in the experiment plan?
2. Should we ensure users create their Gramine-targeted experiments with the latest stable version of OpenFL?
3. Should we export OpenFL as a requirement for experiments?

@mansishr, what do you think?

[2022-11-01 05:36] mansishr commented on #554
@igor-davidyuk IMO exporting OpenFL as a requirement for experiments is the easiest approach for gramine ready workspaces, although it may look counterintuitive to users. I am not sure of the first option and the second option seems like an additional step that users might have to implement.

[2022-11-01 16:07] mansishr commented on #554
We have an external PR which fixes this issue #557

[2022-11-03 11:24] DL8 opened #568 "Enclave size should be configurable in Graminize operation"
**Is your feature request related to a problem? Please describe.**

Enclave size of Graminized OpenFL is hardcoded to 16GB. Enclave size is not a one-size-fits-all and therefore should be configurable.

**Describe the solution you'd like**

Add enclave size parameter to the makefile:
`make SGX_SIZE=16G`

If possible, it should also be passed as parameter to image build in `fx workspace graminize`

[2022-11-03 18:46] mansishr commented on #540
Hi @DL8, could you check if `pip install openfl --upgrade pip` works? Sometimes, an older version of pip causes issues like these.

[2022-11-06 15:03] DL8 commented on #540
It didn't work. Note that this problem happens only when installing from Pip repos. It doesn't happen when building latest version in `develop` branch

[2022-11-07 11:34] igor-davidyuk opened #575 "Kvasir example in Gramine fails"
Training fails with the following message: `DefaultCPUAllocator: can't allocate memory: you tried to allocate 225738752 bytes. Error code 12 (Cannot allocate memory)` on the collaborator side.

[Logs attached](https://github.com/intel/openfl/files/9951006/gramine-kvasir.log)

[2022-11-09 00:17] #568 closed, assigned to nobody

[2022-11-09 09:03] DL8 opened #580 "Documentation: add collaborator certification flow without involving OpenFL command line"
**Is your feature request related to a problem? Please describe.**

[PKI setup documentation](https://openfl.readthedocs.io/en/latest/source/utilities/pki.html)  demonstrates the flow of a collaborator certificate. In this flow, Alice (collaborator) generates a CSR using OpenFL command line utility. This flow is a bit questionable with Docker execution approach, because it would require the collab

[2022-11-09 11:36] DL8 opened #581 "Support for running Gramine-based image with non-root user"
**Is your feature request related to a problem? Please describe.**

Currently graminized OpenFL runs as root and there is no option to modify it on launch. This is not a good security practice and may have severe consequences

**Describe the solution you'd like**

Ability to set the running user and group IDs, similar to the regular Docker image

[2022-11-17 12:04] r-kellerm commented on #552
Hello @psfoley , @igor-davidyuk ,

I'm using `fx model save -i model_best.pbuf -o model_best.pth` (with either best and last models), then load it using -
[code]
However the model doesn't reach the same accuracy as the OpenFL training environment reports on. Am I missing a required step?
(The data  and the model are the same as in the federated environment)
Thanks!

[2022-11-17 17:06] igor-davidyuk commented on #552
Hey, @r-kellerm, we probably should not discuss the resulting accuracy here, this issue is about functionality.
Still, it would be interesting to see metric logs and the test accuracy you measured to understand the order of values.
Please keep in mind that the best model snapshot is not always the last model snapshot, AND that Aggregator shows you averaged values for metrics during training.

[2022-11-17 19:36] psfoley opened #600 "Remove CI badge and add itemized CI statuses to README"
The single CI pipeline was recently broken [into multiple pipelines](https://github.com/intel/openfl/pull/528) for speed of execution and to improve feedback for PR submitters. As a result, the CI badge is now out of date. Instead of a single CI badge, a section to the README.md file that reports status for each test run on the develop branch (Linux/Windows, Aggregator / Director workflow, etc.).

[2022-11-18 17:56] #552 closed, assigned to igor-davidyuk

[2022-11-20 06:52] igor-davidyuk opened #608 "Elaborate docs on TaskRunner interface"
We have the TaskRunner interface is scarcely described in docs, adding details would make it more transparent for users. Specifically, I received questions regarding `FL task` methods signatures.

[2022-11-20 13:10] r-kellerm commented on #552
Hi @igor-davidyuk , @psfoley -
I reproduced the problem with `torch_cnn_mnist`.
The accuracy as reported from the training environment is >0.98.
When loading the saved model (with torch_cnn_mnist_best.pbuf converted to torch_cnn_mnist_best.pth) the reported accuracy is 0.58.
You can reproduce it with the attached file.
(The trained model was generated using `fx model save -i "./save/${TEMPLATE}_be

[2022-11-20 19:51] r-kellerm opened #609 "Using a trained model saved in native pytorch format fails to reproduce train accuracy"
**Describe the bug**
Using [PR#550](https://github.com/intel/openfl/pull/550) and saving best or last model snapshots fails to reproduce the accuracy reported by the federated train environment

**To Reproduce**
Steps to reproduce the behavior:
1. Modify `test_hello_federation.sh` to run torch_cnn_mnist.
2. Add the following lines at the end of test_hello_federation.sh: `fx model save -i "./save/$

[2022-11-22 19:41] psfoley opened #616 "Add test to verify TLS certificate chain"
Add tests to CI to verify TLS certificate chain is valid:
- hosts without TLS are not able to establish a TLS connection when one is required
- Verify common name of host matches expected destination

[2022-11-22 20:05] psfoley opened #617 "Use random delay in authentication failures (gRPC TLS)"
Use random delays when GRPC authentication fails so that the period needed to generate an authentication failure message is randomized. Attackers can use the length of time it takes to generate an authentication error message to guess the reason it failed.

[2022-11-23 00:17] psfoley commented on #609
Thanks @r-kellerm for reporting this. It's possible inconsistent data preprocessing may lead to this sort of issue, but we will take a look at this and get back to you.

[2022-11-23 08:02] r-kellerm commented on #609
Thanks @psfoley. The preprocessing is the same - verified it with 2 different models.